<script type="text/javascript" src="{$this->siteurl}/common/rating/bootstrap-rating.js?v={$smarty.const.RELEASE}"></script>
{literal}
<div ng-app="FeaturedContents" ng-controller="HomeFeaturedSections" id="muvi_homepage_sections" class="relative">
    <div ng-repeat="section in sections">
        <div ng-if="section.total > 0 && section.content_type != 2" class="wrapper muvi_row-lists- muvi_parent_sec_{{section.id}} muvi_parent-sec-hide _init" id="section_{{section.id}}">

            <div class="row top20">
                <div class="col-sm-12">
                    <div>
                        <span class="muvi_title1">{{section.title| utfdecode}}</span>
                        <a ng-if="section.cpermalink" ng-href="{/literal}{$this->base_url}/{literal}{{section.cpermalink}}" class="btn btn-primary btn-green-small pull-right">{/literal}{$this->Language['view_more']}{literal}</a>
                    </div>
                </div>
            </div>
            <div class="row muvi_list_page">
                <div class="col-md-12">
                    <div class="muvi_slider responsive">
                        <div ng-repeat="content in section.contents" class="col-md-5ths col-sm-6"><!--new class added play-box-center:8-may-17-->
                            <div class="wrapper thumbnail">
                                <div class="muvi_play-box muvi_play-box-center">
                                    <img src="{{content.poster}}" alt="" title="{{content.title| utfdecode}}" class="muvi_play_box_img center-block">
                                    <div ng-if="content.play_btn.length > 0">
                                        <div ng-if="content.content_types_id != 3 || content.is_episode == 1">
                                            <div class="muvi_thumb-bg"></div>
                                            <div class="play-btn" ng-bind-html="content.play_btn | html"></div>
                                        </div>
                                        <!--      #22888 start-->
                                        <div ng-if="content.content_types_id == 3 && content.is_episode == 0">
                                            <a class="muvi_thumb-bg" href="{{content.permalink}}"></a>
                                        </div>
                                          <!--#22888 End-->
                                    </div>
                                    <a class="muvi_thumb-bg" ng-if="!content.play_btn.length" href="{{content.permalink}}"></a> 
                                </div>
                                <!-- add section for the content name & price button -->
                                <div class="col-md-12" ng-if="section.content_type != 1">		
                                    <a href="{{content.permalink}}" ><h3 dir="auto" class="muvi_itemname" ng-bind="content.title | utfdecode"></h3></a>
                                    <ul id="muvi_featureblock">
                                        <li ng-if="section.show_likes == 1">
                                            <!--<a href="{{content.permalink}}"><span class="muvi_glyphicon-color glyphicon glyphicon-thumbs-up muvi_featureicons"></span> <span class="muvi_featurecounts">{{content.all_likes}}</span></a>-->
                                            <!--Upasana ER 27448-->
                                               <a ng-if="content.is_like==0" href="javascript:;" ng-click="thumbsLike(content)" id = "like-content-{{content.movie_id}} " ><span style ="color:#000000" class="fa fa-thumbs-up"></span> <span style ="color:#000000" class="muvi_featurecounts">{{content.all_likes}}</span></a>  &nbsp;
                                               <a ng-if="content.is_like==1" href="javascript:;" ng-click="thumbsUnLike(content)" id = "unlike-content-{{content.movie_id}} " ><span style ="color:#32c5d2" class="fa fa-thumbs-up"></span> <span style ="color:#32c5d2" class="muvi_featurecounts">{{content.all_likes}}</span></a> 
                                            <!--Upasana ER 27448-->
                                            
                                        </li>
                                        <li ng-if="section.rating_status == 1">
                                            <a href="{{content.permalink}}"><span class="muvi_featurecounts">{{content.all_comments}}</span> <span class="muvi_featureicons muvi_themecolor">Reviews</span></a>
                                        </li>
                                        <li ng-if="section.show_views == 1">
                                            <a href="{{content.permalink}}" class="muvi_featureicons"> <span class="muvi_featurecounts">{{content.all_views}}</span> <span class="muvi_themecolor">Views</span> </a>
                                        </li>                                            
                                    </ul>    
                                    <div class="clearfix"></div>
                                    <ul class="muvi_rating-stars">    
                                        <li class="dropup" ng-if="section.rating_status == 1">
                                            <a href="{{content.permalink}}" class="dropdown-toggle muvi_featureicons" data-toggle="dropdown">
                                                <input type="hidden" class="rating" data-readonly value="{{content.average_rating}}"/>
                                            </a><span class="caret"></span>
                                            <span class="muvi_ratingfont">{{content.avg_total}}</span>
                                            <div class="muvi_dropup-content muvi_dropdown-width" role="menu"> &nbsp;
                                                <div class="text-center muvi_rating-drop-down muvi_avg-rating"> {{content.average_rating}} out of 5 stars</div>
                                                <div class="col-xs-12">
                                                    <div class="pull-left muvi_rating-drop-down">
                                                        <div class="pull-left muvi_hover-icon"> 
                                                            <div class="muvi_hover-rating">5 <span class="glyphicon glyphicon-star muvi_glystar"></span></div>
                                                        </div>
                                                        <div class="pull-left muvi_rating-progress-bar">
                                                            <div class="progress muvi_hover-progress">
                                                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" ng-style="{ 'width' : (content.count_five == 0) ? '2%' : content.count_five +'%' }"></div>
                                                            </div>
                                                        </div>
                                                        <div class="pull-right percentage">{{content.count_five}}%</div>   
                                                    </div>
                                                    <div class="pull-left muvi_rating-drop-down">
                                                        <div class="pull-left muvi_hover-icon">
                                                            <div class="muvi_hover-rating">4 <span class="glyphicon glyphicon-star muvi_glystar"></span></div>
                                                        </div>
                                                        <div class="pull-left muvi_rating-progress-bar">
                                                            <div class="progress muvi_hover-progress">
                                                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" ng-style="{ 'width' : (content.count_four == 0) ? '2%' : content.count_four +'%' }"></div>
                                                            </div>
                                                        </div>
                                                        <div class="pull-right percentage">{{content.count_four}}%</div>   
                                                    </div>
                                                    <div class="pull-left muvi_rating-drop-down">
                                                        <div class="pull-left muvi_hover-icon">
                                                            <div class="muvi_hover-rating">3 <span class="glyphicon glyphicon-star muvi_glystar"></span></div>
                                                        </div>
                                                        <div class="pull-left muvi_rating-progress-bar">
                                                            <div class="progress muvi_hover-progress">
                                                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="5" ng-style="{ 'width' : (content.count_three == 0) ? '2%' : content.count_three +'%' }"></div>
                                                            </div>
                                                        </div>
                                                        <div class="pull-right percentage">{{content.count_three}}%</div>  
                                                    </div>
                                                    <div class="pull-left muvi_rating-drop-down">
                                                        <div class="pull-left muvi_hover-icon">
                                                            <div class="muvi_hover-rating">2 <span class="glyphicon glyphicon-star muvi_glystar"></span></div>
                                                        </div>
                                                        <div class="pull-left muvi_rating-progress-bar">
                                                            <div class="progress muvi_hover-progress">
                                                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" ng-style="{ 'width' : (content.count_two == 0) ? '2%' : content.count_two +'%' }"></div>
                                                            </div>
                                                        </div>

                                                        <div class="pull-right percentage">{{content.count_two}}%</div>  

                                                    </div>
                                                    <div class="pull-left muvi_rating-drop-down">
                                                        <div class="pull-left muvi_hover-icon">
                                                            <div class="muvi_hover-rating">1 <span class="glyphicon glyphicon-star muvi_glystar"></span></div>
                                                        </div>
                                                        <div class="pull-left muvi_rating-progress-bar">
                                                            <div class="progress muvi_hover-progress">
                                                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="5" ng-style="{ 'width' : (content.count_one == 0) ? '2%' : content.count_one +'%' }"></div>
                                                            </div>
                                                        </div>

                                                        <div class="pull-right percentage">{{content.count_one}}%</div>  

                                                    </div>
                                                    <div class="pull-left">
                                                        <a  href="{{content.permalink}}" style="padding-left: 40px;">
                                                            <span class="muvi_showreviewfont">See all {{content.avg_total}} reviews </span>&nbsp;<span class="muvi_featurereviewcaret fa fa-caret-right"></span>
                                                        </a>
                                                    </div>
                                                </div>            
                                            </div>
                                            &nbsp;
                                        </li>
                                    </ul>                                  

                                </div>
                                <div class="row" ng-if="section.content_type == 1">

                                    <div class="col-md-8">
                                        <div class="title" style="min-height:40px;">
                                            <h3 class="muvi_itemname text-left"><a href="{{content.permalink}}"><h3 class="muvi_itemname text-left" ng-bind="content.name.length > 20?content.name.substr(0,20):content.name | utfdecode"></h3></a>
                                        </div>
                                    </div>
                                    <div class="col-md-4 text-right">
                                        <h3 class="muvi_itemname" ng-if="content.is_preorder == 0 && content.sale_price != 0.00" ng-bind="content.price"></h3>
                                    </div>
                                </div>

                                <div class="row text-center" ng-if="content.content_types_id != 1 || content.content_types_id != 3">
                                    <div class="col-md-12" ng-if="content.status == 1">
										<ng-container ng-if="content.sale_price!='0.00'" >
                                        <button ng-if="content.is_preorder == 0 && content.status == 1" class="muvi_AddToCart btn muvi_cart-btn" name=""  ng-click="addCart(content.id, 1)">{/literal}{$this->Language['add-to-cart']}{literal}</button>
                                        <button ng-if="content.is_preorder == 0 && content.status == 1" class="muvi_AddToCart btn muvi_order-now" name=""  ng-click="addCart(content.id, 2)">{/literal}{$this->Language['ordernow']}{literal}</button>
                                        <a ng-if="content.is_preorder != 0" class="muvi_AddToCart btn muvi_order-now" href="{{content.permalink}}">{{preOrder}}</a>
										</ng-container>
<ng-container ng-if="content.sale_price=='0.00'">
										<button class="muvi_AddToCart btn muvi_cart-btn btn-disabled muvi_stockout">{/literal}{$this->Language['currently_unavailable']}{literal}</button>
</ng-container>
                                    </div>
                                    <div class="col-md-12" ng-if="content.status == 3" >
                                        <button class="muvi_AddToCart btn muvi_cart-btn btn-disabled muvi_stockout">{/literal}{$this->Language['stock_out']}{literal}</button>
                                    </div>


                                </div>
                                <div class="clearfix"></div>	
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <span>{{updateSlider(section.id)}}</span>
        </div>  
    </div>
    <div class="loader muvi_home_featured" ng-if="isLoader" style="display:block;" ></div>
</div>

<script>
    var hide_featured = {/literal}{$hide_featured};{literal}
        var sections = {/literal}{$sections};{literal}
      getValues(hide_featured,sections);
</script>

{/literal}