{literal}
<style>
    .muvi_product-remove{padding-top: 17px !important; padding-bottom: 17px !important;padding-left: 10px!important; padding-right: 10px!important;}
    #itemdetails{width: 25% !important;}
    table{border: 1px solid #e9e4e4 !important;}
    th{border: 1px solid #e9e4e4 !important;padding-left: 10px!important; padding-right: 10px!important;}
    td{border: 1px solid #e9e4e4 !important;padding-left: 10px!important; padding-right: 10px!important;}
    .muvi_product-name{padding-top: 17px !important; padding-bottom: 17px !important;padding-left: 10px!important; padding-right: 10px!important;}
</style>
{/literal}
<div class="single-product-area">
    <div class="muvi_c-layout-breadcrumbs-1 muvi_c-subtitle muvi_c-fonts-uppercase muvi_c-fonts-bold muvi_c-bordered muvi_c-bordered-both">
        <div class="container">
            <div class="muvi_c-page-title muvi_c-pull-left">
                <h3 class="c-font-uppercase muvi_c-font-sbold">{($this->Language["my_donations"])?$this->Language["my_donations"]:'My Donations'}</h3>             
            </div>
        </div>
    </div>    
    <div class="col-sm-12">
        <div class="center white m-t-10" style="margin-left: 7%; margin-bottom: 5px;">{($this->Language["total_donation_in_credit"])?$this->Language["total_donation_in_credit"]:'Total Donation In Credit'}: {$total_donation_in_credit['total_donation_in_credit']}</div>
    </div>
    <!--    <div class="col-sm-12">
        <div class="center white"  style="margin-left: 7%; margin-bottom: 9px;">{($this->Language["total_donation_in_cash"])?$this->Language["total_donation_in_cash"]:'Total Donation In Cash'}: {$total_donation_in_cash['total_donation_in_cash']} $</div>
        </div>-->
    <div class="container muvi_content-area">           
        <div class="row">
            <div class="col-md-12 p-l-0">                   
                <div class="table-responsive">
                    <table cellspacing="0" class="muvi_shop_table top20 table table-bordered" style='width:100%;'>
                        <thead>
                            <tr>
                                <th class="muvi_product-name">{$this->Language["content_name"]}</th>
                                <th class="muvi_product-name">{($this->Language["donation_amount"])?$this->Language["donation_amount"]:'Donation Amount'}</th>
                                <th class="muvi_product-name">{($this->Language["donation_type"])?$this->Language["donation_type"]:'Donation Type'}</th>
                                <th class="muvi_product-name">{($this->Language["date"])?$this->Language["date"]:'Date and Time'}</th>
                                <th class="muvi_product-name">{($this->Language["survey_answer"])?$this->Language["survey_answer"]:'Survey Answer'}</th>
                            </tr>
                        </thead>                   
                        {assign var="user_id" value=Yii::app()->user->id}
                        {if $donations|@count > 0 }       
                        {foreach from=$donations item=donation}
                        <tr class="cart_item">
                            <td class="muvi_product-remove"> {$donation['content_name']}</td>
                            <td class="muvi_product-thumbnail">{$donation['donation_amount']}</td>
                            <td class="muvi_product-thumbnail">{($donation['donate_type']==1) ? 'Cash' : 'Credit'}</td>
                            <td class="muvi_product-remove"> {date('F d, Y',strtotime($donation['created_date']))}</td>
                            <td class="muvi_product-remove"> {($donation['donation_survey']) ? $donation['donation_survey'] : 'N/A'}</td>
                            <!--                        <td class="muvi_product-remove"> <div class="text-center">
                                                    <a href="javascript:void(0)" id="cancel_subscriptions_bundles_{$donation['id']}" class="btn c-theme-btn c-btn-square c-btn-uppercase c-btn-bold" onclick="cancelsubscription({$donation['id']});" >{$cancel_btn_form}</a>
                                                </div></td>-->
                        </tr>
                        {/foreach}
                        {else}
                        <tr>
                            <td colspan="5">{$this->Language["no_record_found"]}</td>
                        </tr>
                        {/if}
                    </table>  
                </div>
                <div class="row" style="margin-right:0px !important;">
                    <div class="col-md-12">
                        <div class="product-pagination text-center">
                            <nav>
                                {$pagination}
                            </nav>                        
                        </div>
                    </div>
                </div>        
            </div>
        </div>
    </div>
</div>
