<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{$this->language_code}" lang="{$this->language_code}">
{include file='../layouts/header.html'}
<body class="{$this->style_code} {if $this->ishome}_home{/if}">
{$this->cookie_msg}
{$this->website_msg}
{if $this->from_playout_cms_embed == 0}<!-- @ER : 22892-->
    {include file='../layouts/nav-top.html'}
{/if}
<div class="search-bar w-100 py-3 d-none d-md-block">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-lg-6 col-lg-offset-3">
                <div class="form-group mb-0">
                    <input type="text" class="form-control" id="searchbar" placeholder="Search">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container position-relative px-0 px-xl-3">
    <div class="gamer-nav position-absolute d-flex flex-center">
    <i class="fa fa-angle-right" aria-hidden="true"></i>
    </div>
    <div class="gamer-slider-container my-5 py-4">
        <div class="gamer-slider owl-carousel text-uppercase">
            {include file='../layouts/includes/gamer-slider.html'}
            {include file='../layouts/includes/gamer-slider.html'}
            {include file='../layouts/includes/gamer-slider.html'}
            {include file='../layouts/includes/gamer-slider.html'}
            {include file='../layouts/includes/gamer-slider.html'}
            {include file='../layouts/includes/gamer-slider.html'}
            {include file='../layouts/includes/gamer-slider.html'}
            {include file='../layouts/includes/gamer-slider.html'}
            {include file='../layouts/includes/gamer-slider.html'}
            {include file='../layouts/includes/gamer-slider.html'}
            {include file='../layouts/includes/gamer-slider.html'}
            {include file='../layouts/includes/gamer-slider.html'}
            {include file='../layouts/includes/gamer-slider.html'}
            {include file='../layouts/includes/gamer-slider.html'}
            {include file='../layouts/includes/gamer-slider.html'}
            {include file='../layouts/includes/gamer-slider.html'}
        </div>
    </div>
</div>

<div class="container">
    <h3 class="text-uppercase">Featured</h3>
    <div class="spacer1"></div>
    <div class="featured-slider owl-carousel text-uppercase">
        {include file='../layouts/includes/featured-slider.html'}
        {include file='../layouts/includes/featured-slider.html'}
        {include file='../layouts/includes/featured-slider.html'}
        {include file='../layouts/includes/featured-slider.html'}
        {include file='../layouts/includes/featured-slider.html'}
        {include file='../layouts/includes/featured-slider.html'}
        {include file='../layouts/includes/featured-slider.html'}
    </div>
</div>

<div class="spacer6"></div>

<div class="container">
    <hr class="my-0 opacity-10">
</div>

<div class="container">
    <div class="spacer3"></div>
    <div class="d-flex flex-between">
        <h3 class="text-uppercase">Stream category</h3>
        <div class="streaming-icon"></div>
    </div>
    {include file='../layouts/includes/stream-grid-top-section.html'}
    <div class="row d-flex d-md-block row-grid mb-4 pb-1 pb-md-0">
        {include file='../layouts/includes/stream-grid.html'}
        {include file='../layouts/includes/stream-grid.html'}
        {include file='../layouts/includes/stream-grid.html'}
        {include file='../layouts/includes/stream-grid.html'}
    </div>
    {include file='../layouts/includes/show-more.html'}
</div>

<div class="container">
    <div class="spacer3"></div>
    <div class="d-flex flex-between">
        <h3 class="text-uppercase">Stream category</h3>
        <div class="streaming-icon"></div>
    </div>
    {include file='../layouts/includes/stream-grid-top-section.html'}
    <div class="row d-flex d-md-block row-grid row-grid-tall mb-4 pb-1 pb-md-0">
        {include file='../layouts/includes/stream-grid-tall.html'}
        {include file='../layouts/includes/stream-grid-tall.html'}
        {include file='../layouts/includes/stream-grid-tall.html'}
        {include file='../layouts/includes/stream-grid-tall.html'}
        {include file='../layouts/includes/stream-grid-tall.html'}
        {include file='../layouts/includes/stream-grid-tall.html'}
    </div>
    {include file='../layouts/includes/show-more.html'}
</div>

<div class="container">
    <div class="spacer3"></div>
    <div class="d-flex flex-between">
        <h3 class="text-uppercase">Stream category</h3>
        <div class="streaming-icon"></div>
    </div>
    {include file='../layouts/includes/stream-grid-top-section.html'}
    <div class="row d-flex d-md-block row-grid mb-4 pb-1 pb-md-0">
        {include file='../layouts/includes/stream-grid.html'}
        {include file='../layouts/includes/stream-grid.html'}
        {include file='../layouts/includes/stream-grid.html'}
        {include file='../layouts/includes/stream-grid.html'}
    </div>
    {include file='../layouts/includes/show-more.html'}
</div>

<div class="spacer5"></div>

{include file='../layouts/footer.html'}
</body>
</html>