    <div id="top-bar" class="w-100">
        <div class="container-fluid h-100">
            <div class="row h-100">
                <div class="col-xs-12 col-sm-7 h-100">
                    <div class="h-100 d-flex flex-between">
                        <a href="#" class="streaming-icon d-flex flex-center border-0 mr-2"></a>
                        <div class="theme-switch position-relative mx-2">
                            <div class="position-absolute theme-switch-dot rounded-circle"></div>
                        </div>
                        <div class="search-bar flex-grow-1 ml-2 mr-3">
                            <div class="form-group position-relative mb-0">
                                <input type="email" class="form-control" id="menusearchbar" placeholder="Search">
                                    <div class="position-absolute search-icon d-flex flex-center">
                                    <img src="../../images/icons/search.svg">
                                </div>
                            </div>
                        </div>
                        <div id="nav_button" class="rounded-circle d-md-none">
                            <a id="hidden-nav-button" class="d-flex flex-center border-0">
                                <span></span>
                            </a>
                        </div>
                        <a href="#" class="alarm d-none d-md-flex flex-center"></a>
                    </div>
                </div>
                <div id="main-menu" class="col-sm-5 d-flex justify-content-md-end">
                    <div class="d-flex flex-column flex-md-row flex-between">
                        <a class="d-flex flex-center active" href="#"></a>
                        <a class="d-flex flex-center" href="#"></a>
                        <a class="d-flex flex-center" href="#"></a>
                        <a class="d-flex flex-center" href="#"></a>
                        <a class="menu-divider"></a>
                        <a class="d-flex flex-center" href="#"></a>
                        <a class="d-flex flex-center" href="#"></a>
                        <a class="d-flex flex-center" href="#"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <header>
        <!--//52108-->
        {if isset($this->store_configs->sso_with_miniorange_shopify_recharge) && $this->store_configs->sso_with_miniorange_shopify_recharge == 1}
        <input type="hidden" id="sso_with_miniorange_shopify_recharge" value="1" />
        {/if}<!--//52108-->
        {if $this->store_configs->is_enable_custom_registration == 1  && $this->custom_register_page_banner !=""}<!--40392 -->
        <img class="img-responsive cover" alt="Custom_banner" src="{$this->custom_register_page_banner}" />
        {else}<!--40392 -->
        <div class="container clearfix">
            <a class="logo" href="{$this->base_url}"><img src="{$this->siteLogo}" /></a>
            <a class="menu-toggle-butn"><span></span></a>
            <nav>
                <ul>
                    {include file='../layouts/mainmenu.html'}
                    <li><a class="srch-butn"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></li>
                    {if Yii::app()->general->getStoreLink()}
                    <li class="cart-menu">
                        <a href="javascript:void(0);" onclick="goKart();" class="cart-toggle-butn cart-triger">
                            <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                            <span class="_count round-cart" id="cart-popup-counter">
                                {if $smarty.session.totalqnt}
                                {$smarty.session.totalqnt}
                                {else}
                                0
                                {/if}
                            </span>
                        </a>
                        <span id="cartpopup">
                            {include file='../shop/cartpopup.html'}
                        </span>
                    </li>
                    {/if}
                    {if $this->usermenu|@count > 0}
                    {foreach from=$this->usermenu key=key item=mitem}
                    {if $mitem['children']|@count > 0}
                    <li class="">
                        <a href="#" class="{$mitem['class']} dropdown-toggle _user-menu">
                            <img class="img-circle user-icon" alt="{$mitem['display_name']}" title="{$mitem['display_name']}" src="{$mitem['profile_image']}" />
                            {$mitem['display_name']}
                            <span class="caret"></span>
                        </a>
                        {else}
                        <li>
                            {if $smarty.session.guest_user_id == ''}
                            <!--  52108  -->
                            {if (isset($this->store_configs->sso_with_miniorange_shopify_recharge) && $this->store_configs->sso_with_miniorange_shopify_recharge == 1)}
                             {if $mitem['class'] == 'register'}<a href="{$this->base_url}/user/login?sso" class="login active" data-pjax="#main"> <i class="fa fa-lock"></i> {$this->Language['login']}</a>{/if}
                            {else}<!--  52108  -->
                            <a href="{$mitem['permalink']}" class="{$mitem['class']}">
                                {if $mitem['class'] == 'register'}
                                <i class="fa fa-user"></i>
                                {elseif $mitem['class'] == 'login'}
                                <i class="fa fa-lock"></i>
                                {/if}
                                {$mitem['title']}
                            </a>
                            {/if}<!--  52108  -->
                            {else}
                                {if $key==0}
                                    {$smarty.session.guest_name}
                                {/if}
                            {/if}
                            {/if}
                            {if $mitem['children']|@count > 0}
                            <ul class="dropdown-menu">
                                {foreach from=$mitem['children'] key=key item=mcitem name=usrmenu}
                                {if $this->store_configs->parental_control && $smarty.foreach.usrmenu.last}
                                <li>
                                    <a href="javascript:void(0);">KIDS MODE
                                        <div class="checkbox checbox-switch switch-primary">
                                            <label>
                                                <input type="checkbox" value="1" name="parental_controlled_flag" {if isset($smarty.cookies.KidsMode) && $smarty.cookies.KidsMode} checked="" {/if} onclick="changeMode(this,1)"/>
                                                <span></span>
                                            </label>
                                        </div>
                                    </a>
                                </li>
                                {/if}
                                <li>
                                    <a {if $mcitem['class'] == 'cancelsubscription'} data-target="#cancelsubscription" data-toggle="modal" {else}href="{$mcitem['permalink']}"{/if} class="{$mcitem['class']}">{$mcitem['title']}</a>
                                </li>
                                {/foreach}
                            </ul>
                            {/if}
                        </li>
                    </li>
                    {/foreach}
                    {/if}

                    {$language_code = $this->language_code}
                    {$totallang =$this->enable_laguages|count}
                    {if $totallang > 1}
                    {$studio_languages = $this->enable_laguages}
                    <li id="web_language">
                        <a id="lang-popover-butn" class="lang-butn" rel="popover" data-popover-content="#myPopover" data-placement="bottom" data-toggle="popover">
                            <i class="fa fa-language"></i>
                        </a>
                    </li>
                    <!--0018725: Generic|Volo|Responsive issue in the menu section start  (id="web_language")-->
                    <li class="dropdown" id="mob_language">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-language"></i>
                        </a>
                            <ol class="dropdown-menu lang-list-popover" id="myPopover_language">
                                {foreach from=$studio_languages key=key item=value}
                                {if $value['status'] != 0}
                                <li value="{$value['code']}" class="{if $language_code == $value['code']}active{/if}" onclick="changeLang('{$value['code']}')">{$value['name']} </li>
                                {elseif $value['code'] == "en"}
                                <li value="{$value['code']}" class="{if $language_code == $value['code']}active{/if}" onclick="changeLang('{$value['code']}')">
                                    {$value['name']}
                                </li>
                                {/if}
                                {/foreach}
                                <li>{$this->Language['demo']}</li>
                            </ol>
                    </li>
                     <!--0018725: Generic|Volo|Responsive issue in the menu section end-->
                    <div id="myPopover" class="hide">
                        <ul class="lang-list-popover">
                            {foreach from=$studio_languages key=key item=value}
                            {if $value['status'] != 0}
                            <li value="{$value['code']}" class="{if $language_code == $value['code']}active{/if}" onclick="changeLang('{$value['code']}')">{$value['name']} </li>
                            {elseif $value['code'] == "en"}
                            <li value="{$value['code']}" class="{if $language_code == $value['code']}active{/if}" onclick="changeLang('{$value['code']}')">
                                {$value['name']}
                            </li>
                            {/if}
                            {/foreach}
                            <li>{$this->Language['demo']}</li>
                        </ul>
                    </div>
                    {/if}
                    <!--0016219: User Notification feature (For all Template) R1 start-->
                    {if $this->user_id}
                    <li class="c-cart-toggler-wrapper">
                        <a class="c-btn-icon c-cart-toggler usernotification_bell">
                            <i class="fa fa-bell-o"></i>
                            <span class="count_new_notification">
                                <span class="_count round-cart">
                                    {$this->count_new_notification}
                                </span>
                            </span>
                        </a>
                        <input type="hidden" id="notification_userid" name="notification_userid" value="{$this->user_id}">
                    </li>
                    {elseif $this->store_configs->parental_control}
                    <li>
                        <a href="javascript:void(0);">KIDS MODE
                            <div class="checkbox checbox-switch switch-primary">
                                <label>
                                    <input type="checkbox" value="1" name="parental_controlled_flag" {if isset($smarty.cookies.KidsMode) && $smarty.cookies.KidsMode} checked="" {/if} onclick="changeMode(this,0)"/>
                                    <span></span>
                                </label>
                            </div>
                        </a>
                    </li>
                    {/if}
                    <!--0016219: User Notification feature (For all Template) R1 end-->
                </ul>
            </nav>

        </div>

        <div class="search-bar">
            <div class="container">
                <form class="" onsubmit="return validate_search();" action="{$this->base_url}/search/show_all"  id="search-form">
                    <i class="fa fa-search search-icon"></i>
                    <input type="text" class="form-control sitesearch" id="siteSearch" name="search_field" placeholder="{$this->Language['type_to_search']}" name="search_field" autocomplete="off" />
                    <input type="hidden" name="csrfToken"  value="{$smarty.session.csrfToken}" />
                    <a class="close-search" href="javascript:void(0);" onclick="hide('mysearch')">&times;</a>
                </form>
            </div>
        </div>
        {/if}<!--40392 -->
         <div class="alert-msg in  fade alert-success profile-success" id="connect_us_form_success_message" style="display: none;"></div><!--41016 -->
    </header>