{$content = $contents|json_decode}
{$categories = $categories|json_decode}
<script type="text/javascript">
var content_id = {$content->movie_id}; 
var movie_stream_id = {$content->movie_stream_id}; 
</script>
<div class="container">
    <div class="text-white">
                <div class="col-md-12 padd20">
                    <div class="video-grid1">
                        <div class="loader" id="video_loader" style="display:none"></div>
                        <iframe src="{$play_path}?remove_back_button=1" allowfullscreen width="100%" id="Playerframe" frameborder="0" scrolling="no"></iframe>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-md-12 padd0">
                        <div class="col-md-8 padd0">
                            <h1>{$content->title|utf8_decode} </h1>
                            {$total_count = $categories|@count}
                            {$i = 1}
                            {if $total_count > 0}
                            <p>
                                {foreach from=$categories item=category}
                                {$category->category_name}{if $total_count > $i} ,{/if}
                                {$i = $i + 1}
                                {/foreach}
                            </p>
                            {/if}
                            {if $content->genres|@count > 0}
                            {$genre_count = $content->genres|count}
                            <div class="badge-area">
                                {foreach from=$content->genres item=genre}
                                <span class="badge badge-default">{$genre}</span> 
                                {/foreach}
                            </div>
                            {/if}
                        </div>
                        <div class="col-md-4 padd0">
                            <div class="social-network">
                                <!--<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={$this->base_url}{$pageUrl}" data-title="Facebook Share"><i class="fa fa-facebook-square" aria-hidden="true" title="{$this->Language['share_in_facebook']}"></i></a>
				<a target="_blank" href="https://twitter.com/intent/tweet?text={$this->base_url}{$pageUrl}" data-title="Share on Twitter">  <i class="fa fa-twitter-square" aria-hidden="true" title="{$this->Language['share_in_twitter']}"></i></a>ER-36051-->
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <p>{$content->story|utf8_decode}</p>
                    </div>
                </div>

        <div class="clearfix"></div>
    </div>

    <div class="wrapper">

        {literal}
        <div class="col-md-12 padd0" id="homepage_sections" ng-app="Player" ng-cloak>
                {/literal}{if $content->is_episode == 1}{literal}
                <div class="related-video mt50" ng-controller="episodes">
                    <div ng-if="hasData">
                            <div class="col-sm-8 col-lg-8">
                                <h2 class="caps">{/literal}{$this->Language['other_episodes']}{literal}</h2>
                            </div>
                            <div class="col-md-12">
                                <div class="slider lazy slick epinit">
                                    <div ng-repeat="episode in episodelist" class="">
                                        <div class="thumbnail listpos">
                                            <div ng-if="episode.content_types_id != 3 || episode.is_episode == 1">
                                                <div class="caption" ng-bind-html="episode.play_btn | html"></div>
                                            </div>
                                            <a href="{{episode.permalink}}">
                                                <img class="img-tshow" src="{{episode.poster}}" >
                                            </a>
                                            <div class="popup_content">
                                                <div class="arrow"></div>
                                                <div class="ptitle caps">
                                                    <a href="{{episode.permalink}}" ng-bind="episode.title"></a>
                                                    <span ng-if="episode.content_types_id != 1 || episode.content_types_id != 3"><a href="{{episode.permalink}}" ng-bind="episode.name"></a></span>
                                                </div>
                                                <div class="stripe col-md-12">
                                                    <div class="col-md-12 text-right" ng-if="episode.content_types_id == 1 || episode.content_types_id == 3" ng-bind="episode.release_date"></div>
                                                </div>
                                                <div class="clear"></div>
                                                <div class="ptext">
                                                    <p>{{episode.short_story}} <span ng-if="episode.story.length > 200" > <a href="{{episode.permalink}}">{{more}}</a></span></p>
                                                    <p ng-if="episode.content_types_id != 1 || episode.content_types_id != 3">{{episode.story.substring(0, 200)}} <span ng-if="episode.story.length > 200" > <a href="{{episode.permalink}}">{{more}}</a></span></p>
                                                </div>
                                            </div>
                                        </div>
                                        <h3 class="moviename"><a href="{{episode.permalink}}" ng-bind-html="episode.title | html"></a></h3>
                                        <div class="row" ng-if="episode.content_types_id != 1 || episode.content_types_id != 3">
                                            <div class="col-md-8 col-sm-7 col-xs-7">
                                                <div class="title">
                                                    <h3 class="moviename text-left"><a href="{{episode.permalink}}" ng-bind="episode.name.length > 20?episode.name.substr(0,20)episode.name | html"></a></h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="loader static-loading" id="episode_load" ng-if="isLoading"></div>
                        <span style="display:none;">{{initSlid("epinit")}}</span>
                    </div>
                </div>
                {/literal}{/if}{literal}
                <div class="related-video mt50" ng-controller="related">
                    <div ng-if="hasData">
                            <h2 class="muvi_title1">{/literal}{$this->Language['related_videos']}{literal}</h2>
                            <div class="col-md-12">
                                <div class="slider lazy slick relatediniit">
                                    <div ng-repeat="content in contentlist" class="">
                                        <div class="wrapper thumbnail listpos">
                                            <div class="muvi_play-box play-box-center">
                                                <a href="{{content.permalink}}">
                                                    <img class="img-tshow" src="{{content.poster}}" >
                                                </a>
                                                <div ng-if="content.play_btn.length > 0">
                                                    <div ng-if="content.content_types_id!=3 || content.is_episode==1">
                                                        <div class="muvi_thumb-bg"></div>
                                                        <div class="play-btn" ng-bind-html="content.play_btn | html"></div>
                                                    </div>
                                                    <div ng-if="content.content_types_id== 3">
                                                         <a class="muvi_thumb-bg" href="{{content.permalink}}"></a>
                                                    </div>
                                                </div>
                                                <a class="muvi_thumb-bg" ng-if="!content.play_btn.length" href="{{content.permalink}}"></a> 
                                            </div>
                                        </div>
                                        <h3 class="moviename"><a href="{{content.permalink}}" ng-bind-html="content.title | html"></a></h3>
                                        <div class="row" ng-if="content.content_types_id != 1 || content.content_types_id != 3">
                                            <div class="col-md-8 col-sm-7 col-xs-7">
                                                <div class="title">
                                                    <h3 class="moviename text-left"><a href="{{content.permalink}}" ng-bind="content.name.length > 20?content.name.substr(0,20)episode.name | html"></a></h3>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="loader static-loading" id="related_load" ng-if="isLoading"></div>
                        <span style="display:none;">{{initSlid("relatediniit")}}</span>
                    </div>
                </div>
        </div>
        {/literal}

            <div class="col-md-12 padd0">
                {if $this->studio->rating_activated == 1}
                <div class="row bottom25" id='reviews_section'>
                    <div class="col-md-12">
                        <div class="loader" id="loader_review"></div>
                        <div class="form-group review_form  c-content-title-1">
                            {$review_form}
                        </div>
                    </div>
                </div>
                {/if}
                {if $this->studio->comment_activated == 1}
                <div class="row bottom25">
                    {include file='../media/comment_form.html'}
                    {include file='../media/comment_list.html'}            
                </div>
                {/if}
            </div>

        <div class="clearfix"></div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="{$this->siteurl}{$Yii->theme->baseUrl}/css/playing.css" />
<script type="text/javascript" src="{$this->siteurl}/js/content.js"></script>
<script type="text/javascript" src="{$this->siteurl}/common/rating/bootstrap-rating.js"></script>
{literal}
<script type="text/javascript">
    $(document).ready(function(){
        $("#video_loader").show();
        var window_height = $(window).height();
        var header_height = $("header").height() + 70;
        var iFrameID = document.getElementById('Playerframe');
        iFrameID.height = "";
        if(iFrameID) {
           iFrameID.height = window_height - header_height;
        }
        $('#Playerframe').ready(function(){
            iframeLoaded();
        });
    });
    function iframeLoaded() {
        $("#video_loader").hide();
    }
    var app = angular.module('Player', [])
        .filter('html',function($sce){
        return function(input){
            return $sce.trustAsHtml(input);
        };
    });
    app.controller('episodes', function($scope,$http) {
        $scope.episodelist = ""; 
        $scope.hasData = false; 
        $scope.isLoading = true; 
        $scope.initSlid = function(section){
            if($scope.hasData){
                initSliderJs(section);
                $scope.isLoading = false; 
            }
	};
        $http.get(HTTP_ROOT+"/rest/getEpisodes?authToken="+STORE_AUTH_TOKEN+"&movie_id="+content_id+"&movie_stream_id="+movie_stream_id).then(function (response) {
        if(response.data.code == 200){
            $scope.episodelist = response.data.list;
                $scope.hasData = true;
            }
        });
    });
    app.controller('related', function($scope,$http) {
        $scope.contentlist = ""; 
        $scope.hasData = false; 
        $scope.isLoading = true; 
        $scope.initSlid = function(section){
            if($scope.hasData){
                initSliderJs(section);
                $scope.isLoading = false; 
            }
	};
        $http.get(HTTP_ROOT+"/rest/relatedContent?authToken="+STORE_AUTH_TOKEN+"&content_id="+content_id+"&content_stream_id="+movie_stream_id).then(function (response) {
        if(response.data.code == 200){
            $scope.contentlist = response.data.contentData;
                $scope.hasData = true;
            }
        });
    });
    
    function initSliderJs(section){
        setTimeout(function(){
            $('.lazy').not('.slick-initialized').slick({
                dots: false,
                infinite: false,
                speed: 300,
                slidesToShow: 4,
                customPadding: '80px',
                autoplay: false,
                autoplaySpeed: 3000,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 4,
                            infinite: false,
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 3,
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1
                        }
                    }
                ]
            });
            $(".lazy."+section).removeClass(section);
        }, 2000);
    }
</script> 
{/literal}