/* 
    Created on : Jul 25, 2018, 12:16:20 AM
    Author     : Pritam
    Purpose    : Rating,likes,reviews
*/

.like {
    color: #5e9cd1;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 15px;
    font-weight: 300;   
    padding-left: 5px;
    position: relative;
    top: -4px;
}
.glyphiconColor {
    color : green;
}
.ratingcolorred {
    color : #DC143C;
}
.rating-hover:hover > div.dropdown-menu {
     display: block;   
     /*margin-left: 80px;*/ 
     margin-bottom: 150px;
     
}
.rating-hover .dropdown-menu {
     top: 95%;   
     left: auto; 
     /*right: 0;*/
}
.dropdown-menu::before, .dropdown-menu-visible-xs::before{
    left: 42%;
}
.glystar, .ratingfont, .muvi_showreviewfont {
    font-size: 10px;
}
.dropdown-width {
    width:200px;
}
.muvi_hover-icon {
    width:35px; 
    line-height:1;
}
.muvi_hover-rating {
    height:9px; 
    margin:5px 0; 
    font-size:11px;
}
.muvi_hover-progress {
    height:9px; 
    margin:8px 0;
}
.muvi_show-reviews {
    padding-left: 50px;
}
.muvi_listicons {
    font-size: 12px;
}
.muvi_rating-drop-down{
    font-size: 13px;
}
.muvi_avg-rating {
    margin-top: -10px;
}
/*#muvi_listingicons li {
    list-style-type: none;
    position: relative;
    float: left;
}*/
#muvi_listingicons{
    margin: 0;
    padding: 0;
    line-height: 0;
}
#muvi_listingicons li {
    list-style-type: none;
    box-sizing: border-box;
    float: left;
    width: 33.33%;
    vertical-align: top;
}
#muvi_listingicons li a{
    font-size: 11px;
    line-height: 1.2;
}
.muvi_rating-stars{
    margin: 0;
    padding: 0;
    font-size: 12px;
}
.muvi_rating-stars, .muvi_rating-stars li{
    list-style-type: none;
    position: relative;
}

.muvi_rating-progress-bar{
    width: 95px;
}
.muvi_showreviewcaret {
    font-size: 11px;
    position: absolute;
    margin-top: 7px;
}
.percentage {
    margin-left:10px;
    font-size: 13px;
    margin-top: 4px;
}
.featureicons {
    font-size: 12px;
}
.featurecounts {
    font-size: 12px;
}
/*#muvi_featureblock li {
    list-style-type: none;
    float: left;
}*/
#muvi_featureblock{
    margin: 0;
    padding: 0;
    line-height: 0;
}
#muvi_featureblock li {
    list-style-type: none;
    box-sizing: border-box;
    float: left;
    width: 33.33%;
    vertical-align: top;
}
#muvi_featureblock li a{
    font-size: 11px;
    line-height: 1.2;
}
.muvi_featurereviewcaret {
    font-size: 11px;
    position: absolute;
    margin-top: 5px;
}
.dropup {
    position: relative;
    display: inline-block;
}

.dropup-content {
    display: none;
    position: absolute;
    background-color: #FBFBFB;
    min-width: 160px;
    bottom: 20px;
    z-index: 1;
}

.dropup:hover .dropup-content {
    display: block;
}
.con_watched {
    color: #2cb7f6;
}
.con_watched:hover { 
    color: #0000FF;
}
.con_watched_list {
    font-size: 14px;
}
.scrollable-menu {
    height: auto;
    max-height: 180px;
    overflow-x: hidden;
}
