{$kvs = $kvs|json_decode}
{assign var=num value=0}
{assign var=val value=0}
{assign var=cnn value=0}
<input type='hidden' value="{$total_items}" class="episode_total">
{foreach from=$kvs item=data}
{$episode_image=$data->poster} <!--#21385: Video Playlist Feature -R2 (CMs Admin can create video playlist)-->
{assign var=ccc value=$ccc+1}
{$casts = $data->casts}
{$audio_duration_full = $data->video_duration}
{$audio_duration = ":"|explode:$audio_duration_full}
{$user_id=Yii::app()->user->id}
{if $data->content_types_id == 6 || $data->content_types_id == 5} <!--#21385: Video Playlist Feature -R2 (CMs Admin can create video playlist)-->
<li class="track"> 
    <span class="track-play"> 
        <!--ER-58986 || Author: Chandan-->
        <a href="javascript:void(0);" class="audioPlay" data-free_login_required="{$free_login_required}" data-index="{$num++}" data-playlist_id="{$playlist_id}" data-user_id="{$user_id}" data-id="{if $data->is_episode == 0}{$data->movie_id}{else}{$data->movie_stream_id}{/if}">
            <i class="fa fa-play"></i>
        </a>
        <!--ER-58986 end-->
    </span>
    <span class="track-title">
        <a href="javascript:void(0);" class="audioPlay" data-index="{$cnn++}" data-playlist_id="{$playlist_id}" data-user_id="0" data-id="{if $data->is_episode == 0}{$data->movie_id}{else}{$data->movie_stream_id}{/if}">
            <span class="muvi_c-font-sbold"> {$data->content_title|utf8_decode} </span> 
        </a>
        <p class="muvi_c-margin-b-0 muvi_c-font-14">{foreach from=$casts key=counter item=cast}{$cast_count=$cast|@count}{$j=0}{foreach from=$cast key=counter item=castitem}{$castitem->celeb_name}{$j = $j+1}{if $j != $cast_count}, {/if}{/foreach}{/foreach}</p>
    </span> 
    {if $audio_duration_full != ''}<span class="muvi_track-meta">
        <span class="muvi_track-duration">{if $audio_duration[0]|intval > 0} {$audio_duration_full}  {else} {$audio_duration[1]}:{$audio_duration[2]} {/if}</span> 
    </span>{/if}
    {if $this->add_to_playlist != 0 || $this->add_to_queue != 0}<span class="muvi_track-meta">	
        <div class="dropup">
            <div class="dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-ellipsis-v" aria-hidden="true" style="font-size: 28px;"></i>
            </div>
            <ul class="dropdown-menu  dropdown-menu1 dropdown-menu-right" aria-labelledby="dropdownMenu3">
                {if $this->add_to_playlist != 0}<li><a href="javascript:void(0);" class="c-white addPlay" data-content_id="{$data->movie_stream_id}" data-user_id="{$user_id}" data-is_episode="{$data->is_episode}">{$this->Language['add_to_playlist']}</a></li>{/if}
                {if $this->add_to_queue != 0}<li><a href="javascript:void(0);" class="c-white addToQue" data-id="{$data->movie_stream_id}"  data-is_episode="{$data->is_episode}">{$this->Language['add_to_queue']}</a></li>{/if}
            </ul>
        </div></span>
    {/if}
</li>
{/if}
<!--#21385: Video Playlist Feature -R2 (CMs Admin can create video playlist)-->
{if $data->content_types_id == 1 || $data->content_types_id == 3}
{assign var=ccc value=$ccc+1}
<div class="col-md-5ths col-sm-6 muvi_episode_content_{$data->movie_stream_id}">
    <div class="muvi_c-content-product-2 muvi_c-bg-white muvi_episode-boxx">
        <div class="muvi_c-content-overlay">
            <div class="muvi_c-overlay-wrapper">
                <div class="muvi_c-overlay-content">
                    <div>
                        <!-- ER-58986 || Author: Chandan || Desc : Added the condition to check use is logged in or not. -->
               {if $free_login_required == 1} 
                        <a href="javascript:void(0);" class="btn c-btn c-font-bold c-font-white c-theme-btn c-btn-square c-font-uppercase" data-toggle="modal" data-target="#loginModal" data-user-id="{$user_id}"
                        data-movie_id="{$data->movie_uniq_id}" data-movie_stream_uniq_id="{$data->movie_stream_uniq_id}" data-content-permalink="{$data->c_permalink}" data-free_login_required="{$free_login_required}" data-stream_id="{$data->movie_stream_uniq_id}" data-ctype="{$data->content_types_id}" data-playlist_id="{$playlist_id}" data-playlist_permalink="{$playlist_permalink}" onclick="playlistContentVideoPlay(this);">{$this->Language['play_now']}</a>
               {/if}
             {if $free_login_required == 0} 
             <a href="javascript:void(0);" class="btn c-btn c-font-bold c-font-white c-theme-btn c-btn-square c-font-uppercase"  data-user-id="{$user_id}"
                        data-movie_id="{$data->movie_uniq_id}" data-movie_stream_uniq_id="{$data->movie_stream_uniq_id}" data-content-permalink="{$data->c_permalink}" data-free_login_required="{$free_login_required}" data-stream_id="{$data->movie_stream_uniq_id}" data-ctype="{$data->content_types_id}" data-playlist_id="{$playlist_id}" data-playlist_permalink="{$playlist_permalink}" onclick="playlistContentVideoPlay(this);">{$this->Language['play_now']}</a>
             {/if}
             <!-- ER-58986 end -->
                    </div>
                </div>
            </div>
            <img class="muvi_c-bg-img-top-center muvi_c-overlay-object" src="{$episode_image}">
        </div>
        <div class="muvi_c-info">
            <p class="muvi_c-title c-font-bold c-font-uppercase muvi_c-font-slim">
                {$data->title|utf8_decode}
            </p>
            <p class="c-price muvi_c-font-14 muvi_c-font-slim">
                {if $data->story|utf8_decode|count_characters > 55}{$data->story|utf8_decode|truncate:70}<a href="javascript:void();" class="muvi_multipart_child more" data-id="more-{$ccc}" data-stream-id="{$data->movie_stream_id}" data-toggle="modal"  data-target=".bs-example-modal-lg3">{$this->Language['more']}</a>{else}{$data->story|utf8_decode}{/if}
            </p>
            <p class="muvi_c-full-desc hide">{$data->story|utf8_decode}</p><br>
            {if $this->add_to_video_playlist != 0}<a href="javascript:void(0);" class="btn c-theme-btn c-btn-square c-btn-uppercase c-btn-bold c-white addPlay" data-type="2" data-content_id="{$data->movie_stream_id}" data-user_id="{$user_id}" data-is_episode="{$data->is_episode}">{$this->Language['add_to_playlist']}</a>{/if}  <!-- #20401: Playlist and Queue Feature for REVO and Modern Template- R1 -->
        </div>
    </div>
</div>
{/if}
<!--#21385: Video Playlist Feature -R2 (CMs Admin can create video playlist)-->
{/foreach}
<!--#58924: Generic | Genius Academy, Inc | The "More" button of the video playlist is not clickable.-->
<div class="modal fade bs-example-modal-lg3" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-lg" role="document"> <div class="modal-content">
            <div class="modal-header"> 
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button> 
                <h4 class="modal-title c-font-uppercase c-font-bold" id="muvi_multipart_child_title"></h4> 
            </div>
            <div class="modal-body" id="muvi_multipart_child_story"> 
            </div>
        </div>
    </div>
</div>

{literal}
    <script type="text/javascript">
        $(document).ready(function () {
	  showParentInMovie();
	});
    </script>
{/literal}

<!--#58924 End -->
