{if ($this->chkStudioForCustomProfile)}
{$counter = 0} 
{if (count($custom_fields) > 0)}
{foreach from=$custom_fields item=fields}
<div class="form-group">

    <label for="" >{$fields['label']}</label>

    {$fields['field']}

</div>
{/foreach}
{/if}
{else}
<div class="form-group">
    <label for="name">{$this->Language['text_full_name']}</label>
    <input type="text" required name="data[name]" id="fullname" placeholder="{$this->Language['text_name_placeholder']}" autocomplete="off" class="form-control" />
</div>
<div class="form-group">
    <label for="username">{$this->Language['text_email']}</label>
    <input type="email" required name="data[email]" id="email" placeholder="{$this->Language['text_email_placeholder']}" autocomplete="off" class="form-control" />
</div>

<div class="form-group ">
    <label for="password">{$this->Language['text_password']}</label>
    <div class="controls">
        <input type="password" required name="data[password]" id="join_password" placeholder="{$this->Language['text_password_placeholder']}" autocomplete="off" class="form-control" />
    </div>
</div>
{$counter = 0} 
{if (count($custom_fields) > 0)}
{foreach from=$custom_fields item=fields}
<div class="form-group">

    <label for="" >{$fields['label']}</label>

    {$fields['field']}

</div>
{/foreach}
{/if}
{/if}