<div class="w-100 home-banner"></div>
<div class="container position-relative px-0 px-xl-3">
    <div class="gamer-nav position-absolute d-flex flex-center">
        <i class="fa fa-angle-right" aria-hidden="true"></i>
    </div>
    <div class="gamer-slider-container my-5 py-4">
        <div class="gamer-slider owl-carousel text-uppercase">
            {include file='../layouts/includes/gamer-slider.html'}
            {include file='../layouts/includes/gamer-slider.html'}
            {include file='../layouts/includes/gamer-slider.html'}
            {include file='../layouts/includes/gamer-slider.html'}
            {include file='../layouts/includes/gamer-slider.html'}
            {include file='../layouts/includes/gamer-slider.html'}
            {include file='../layouts/includes/gamer-slider.html'}
            {include file='../layouts/includes/gamer-slider.html'}
            {include file='../layouts/includes/gamer-slider.html'}
            {include file='../layouts/includes/gamer-slider.html'}
            {include file='../layouts/includes/gamer-slider.html'}
            {include file='../layouts/includes/gamer-slider.html'}
            {include file='../layouts/includes/gamer-slider.html'}
            {include file='../layouts/includes/gamer-slider.html'}
            {include file='../layouts/includes/gamer-slider.html'}
            {include file='../layouts/includes/gamer-slider.html'}
        </div>
    </div>
</div>
<script language="JavaScript">
    const authToken = '4ba69a7ebb8fc83155963a6f77ed4b5f';
    const lang_code = '{$this->language_code}';
    window.cats = null;
    $.ajax({
    method: "GET",
    url: HTTP_ROOT + '/rest/getCategoryList/',
    data: {
        'authToken': authToken
    },
    success: function (res) {
        window.cats = res;
    }
});
</script>
{foreach from=$sections|json_decode item=this_section}
    <div class="container">
        <div class="spacer3"></div>
        <div class="d-flex flex-between">
            <h3 class="text-uppercase">{$this_section->title}</h3>
            <div class="streaming-icon"></div>
        </div>
        <div class="spacer2"></div>
        <div class="d-flex flex-between">
            <div>
                <a href="#" class="d-inline-flex text-uppercase text-reset mr-2 btn btn-main active">All streams</a>
                <a href="#" class="d-inline-flex text-uppercase text-reset btn btn-main">By game</a>
            </div>
            <div class="dropdown">
                <a class="btn text-uppercase text-reset btn btn-filter" type="button" id="dropdownMenu1"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Filter option
                    <i class="fa fa-angle-down ml-2" aria-hidden="true"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-right font-sm" aria-labelledby="dropdownMenu1">
                    <li><a class="text-reset" href="#">Option</a></li>
                    <li role="separator" class="divider opacity-10"></li>
                    <li><a class="text-reset" href="#">Option</a></li>
                    <li role="separator" class="divider opacity-10"></li>
                    <li><a class="text-reset" href="#">Option</a></li>
                    <li role="separator" class="divider opacity-10"></li>
                    <li><a class="text-reset" href="#">Option</a></li>
                </ul>
            </div>
        </div>
        <div class="spacer3"></div>
        <div class="row d-flex d-md-block row-grid mb-4 pb-1 pb-md-0">
            {foreach from=$this_section->contents item=this_content}
                <div class="col-sm-6 col-md-3 mb-4 text-uppercase">
                    <div class="position-relative">
                        <script type="text/javascript">
                            elem_id = '#content_categories_{$this_content->movie_id}';
                            {literal}
                            $.ajax({
                                method: "POST",
                                url: HTTP_ROOT + '/rest/getcategoriesofcontent/',
                                data: {
                                    'authToken': authToken,{/literal}
                                    'content_category_value': {$this_content->content_category_value},{literal}
                                    'lang_code': lang_code
                                },
                                success: function (res) {
                                    $(elem_id).html(res);
                                }
                            });
                        </script>
                        {/literal}
                        {assign var="str" value=$this_content->permalink}
                        {assign var="offset" value=$str|strrpos:"/"}
                        {assign var="offsetplus" value=$offset + 1}
                        {assign var="reference" value=$str|substr:$offsetplus}
                        <a href="javascript:void(0);" onclick="getPpvPlans(this,1);" id="a_{$this_content->movie_id}"
                           data-toggle="modal" data-target="#loginModal"
                           data-movie_id="{$this_content->movie_uniq_id}" data-purchase_type=""
                           data-content-permalink="{$reference}" data-stream_id="0" data-isppv="1" data-is_ppv_bundle=""
                           data-name="{$this_content->content_title}" data-ctype="1" class="playbtn">
                            <div class="position-absolute w-100 h-100"></div>
                            <img src="{$this_content->poster}" class="img-responsive">
                            {* <div class="position-absolute live-badge">
                                <img src="images/icons/streaming-red.svg">
                                <span>Live</span>
                            </div> *}
                        </a>
                        <div class="position-absolute w-100 h-100">{$this_content->play_btn}</div>
                    </div>
                    <div class="spacer1 mb-1"></div>
                    <div class="d-flex flex-between mb-2">
                        <div class="font-bold">{$this_content->title}</div>
                        <a class="text-reset" href="#">
                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        </a>
                    </div>
                    <h6 class="gamer-tag font-bold">{$this_content->user_name}</h6>
                    <div class="viewers-text my-2 font-xxs">{$this_content->all_views} views</div>
                    <div class="d-flex flex-between">
                        <div>
                            <span class="tag label" id="content_categories_{$this_content->movie_id}"></span>
                            <span class="tag label">#TagSupport</span>
                            <span class="tag label">#UnderConstruction</span>
                        </div>
                        <div class="d-flex align-items-center like font-sm">
                            <img class="mr-2" src="{$this->siteurl}{$Yii->theme->baseUrl}/images/icons/flame.svg">
                            <div class="font-bold">{$this_content->all_likes}</div>
                        </div>
                    </div>
                </div>
            {/foreach}
        </div>
        <div class="show-more position-relative text-uppercase text-center">
            <a href="#" class="text-reset d-block">
                <div class="font-xxs">Show more</div>
                <i class="fa fa-angle-down position-absolute font-xxs" aria-hidden="true"></i>
            </a>
        </div>
    </div>
{/foreach}
<div class="spacer5"></div>
<!--Start #27152: One player for Audio and Video-->
<script src="{$this->siteurl}/js/themes/audioplayer_new.js?v=6"></script>
{if $this->store_configs->support_optional_content == 1}
    <link rel="stylesheet" href="{$this->siteurl}/css/mediaplayer.css?v={time()}">
    <script defer src="{$this->siteurl}/js/themes/mediaplayer.js"></script>
{/if}
<!--End #27152: One player for Audio and Video-->
<div class="loader load-container _full-page"></div>
