<div class="single-product-area register-form">
    <div class="muvi_c-layout-breadcrumbs-1 muvi_c-subtitle muvi_c-fonts-uppercase muvi_c-fonts-bold muvi_c-bordered muvi_c-bordered-both">
        <div class="container">
            <div class="muvi_c-page-title muvi_c-pull-left">
                <h3 class="c-font-uppercase muvi_c-font-sbold"> {$this->Language['register']}</h3>
            </div>
        </div>
    </div>
    <div class="container muvi_content-area">
        <div class="row">
            <div class="col-md-12 muvi_top200">

                <h3 class="c-font-uppercase c-font-bold">{$this->Language['create_account_now']}</h3>
                <p>{$this->Language['cancel_ac_anytime']}</p>
                <p class="gray">{$this->Language['no_commit_no_extrafee']}</p>
                {if $this->studio->social_logins}
                {if isset($smarty.session.social) } 
                {assign var=socialAuth value=$smarty.session.social}
                {else}
                {assign var=socialAuth value=$this->getSocialUrls()}
                {/if}
                {if $socialAuth}
                <h3 class="capitalize muvi_bold-600 pink">{$this->Language['register_with_social_account']}</h3>
                <div class="form-group">
                    <ul class="muvi_social-icons invert">
                        <li><a href="javascript:void(0);" data-url="{$socialAuth['fb_url']}" data-login="0" class="facebook_login facebook social_login"></a></li>
                        {if ($this->studio->social_logins & 2) && $socialAuth['gplus_url'] }
                        <li><a href="{$socialAuth['gplus_url']}" class="googleplus social_login"></a></li>    
                        {/if} 
                    </ul>

                </div>
                {/if}
                {/if}
                <form id="membership_form" name="membership_form" method="POST" class="form-horizontal" action="javascript:void(0);">
                    <div id="errors" class="error center"></div>  
                    <input type="hidden" name="csrfToken" value="{$smarty.session.csrfToken}" />
                    {if (!$this->chkStudioForCustomProfile)}
                    <div class="form-group">
                        <label for="name"class="col-sm-2 control-label">{$this->Language['text_name']}</label>
                        <div class="col-sm-4">
                            <input type="text"  class="form-control c-square c-theme" autocomplete="off" placeholder="{$this->Language['text_name_placeholder']}" title="{$this->Language['fill_out_this_field']}" id="name" name="data[name]" required />
                        </div>

                        <label for="email" class="col-sm-2 control-label">{$this->Language['email']}</label>
                        <div class="col-sm-4">
                            <input type="email"  class="form-control c-square c-theme" autocomplete="off" placeholder="{$this->Language['text_email_placeholder']}" title="{$this->Language['fill_out_this_field']}" id="email_address" name="data[email]" required />
                        </div>                    
                    </div>   

                    <div class="form-group">
                        <label for="join_password" class="col-sm-2 control-label">{$this->Language['text_password_placeholder']}</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control c-square c-theme" autocomplete="off" placeholder="{$this->Language['text_password_placeholder']}" title="{$this->Language['fill_out_this_field']}" id="join_password" name="data[password]" required />
                        </div>

                        <label for="confirm_password" class="col-sm-2 control-label">{$this->Language['confirm_password']}</label>
                        <div class="col-sm-4">
                            <input type="password" class="form-control" autocomplete="off" placeholder="{$this->Language['confirm_password']}" title="{$this->Language['fill_out_this_field']}" id="confirm_password" name="data[confirm_password]" required />
                        </div>                    
                    </div>                          
                    {$counter = 0} 
                    {if (count($custom_fields) > 0)}
                    <div class="form-group">
                        {foreach from=$custom_fields item=fields}
                        {if ($counter%2 == 0)}
                    </div>
                    <div class="form-group">
                        {/if}
                        <label for="" class="col-sm-2 control-label">{$fields['label']}</label>
                        <div class="col-sm-4">
                            {$fields['field']}
                        </div>
                        {$counter = $counter+1}   
                        {/foreach}
                    </div>
                    {/if}
                    {else}

                    {$counter = 0} 
                    {if (count($custom_fields) > 0)}
                    <div class="form-group">
                        {foreach from=$custom_fields item=fields}
                        {if ($counter%2 == 0)}
                    </div>
                    <div class="form-group">
                        {/if}
                        <label for="" class="col-sm-2 control-label">{$fields['label']}</label>
                        <div class="col-sm-4">
                            {$fields['field']}
                        </div>
                        {$counter = $counter+1}   
                        {/foreach}
                    </div>
                    {/if}
                    {/if}
                    <div class="top20"></div>

                    <div class="row">
                        {include file='../layouts/listplans.html'} 
                    </div>   
                    <div class="clearfix"></div>        
                    <div class="loader" id="membership_loading"></div>
                    {if $gateways[0]->short_code == "ippayment"}
                    <div class="form-group ">
                        <div class="col-sm-12">

                            <input name="data[subscribe_newsletter]"  value="1" type="checkbox"> &nbsp;{$this->Language['subscribe_to_announcement']} 

                        </div>
                    </div>
                    {$payment_register_btn}
                    {else}
                    {if $is_hosted neq 1} 

                    {$payment_form}
                    {/if}
                    <div class="form-group ">
                        <div class="col-sm-12">

                            <input name="data[subscribe_newsletter]"  value="1" type="checkbox"> &nbsp;{$this->Language['subscribe_to_announcement']} 

                        </div>
                    </div>
                    {$payment_register_btn}                
                    {/if}

                    <span class="error" id="plan_error"></span>     
                </form>            
            </div>
        </div>
    </div>
</div>    
<div id="successPopup" class="modal fade" style="width: 660px;margin:auto;margin-top: 10px;">
    <div class="modal-dialog" style="width: 660px;margin:auto;margin-top: 10px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title success-popup-payment">{$this->Language['thanks_carrier_auth_sucess']}.</div>
            </div>
        </div>
    </div>
</div>
<div id="otpPopup" class="modal fade" style="width: 660px;margin:auto;margin-top: 10px;">
    <div class="modal-dialog" style="width: 100%;margin:auto;margin-top: 10px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <div class="modal-title success-popup-payment">{$this->Language['enter_otp']}</div>
            </div>
            <div class="modal-body clearfix">
                <div>{$this->Language['verify_otp_message']}</div>
                <br/>
                <div class="form-group">          
                    
                    <label class="col-sm-2 otp-label">{$this->Language['otp']}</label>
                    <div class="col-sm-4 otp-field">
                        <input type="text" class="form-control" autocomplete="off" placeholder="Enter otp here" id="otp_field" required />
                        
                        <input type="hidden" class="form-control" id="server_ref" value="" />
                    </div>
                </div>
                <div class="form-group">
                    <label id="otp_error_msg" class="error col-sm-12 otp-label"  style="display:none;">{$this->Language['incorrect_otp']}</label>
                </div>
                <div class="form-group" style="display:none;">
                    <label class="col-sm-12 otp-label">{$this->Language['otp_not_received']}<a href="javascript:void(0)" onclick="resend_carrier_otp();">{$this->Language['resend_otp']}</a></label>
                </div>
                <div class="form-group col-md-12 otp-field">
                    <div class="controls">
                        <div class="pull-left">
                            <button id="otp_insert_btn" class="btn btn-primary" onclick="validateOtp();">{$this->Language['verify']}</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>      
            </div>
        </div>
    </div>
</div>
<div id="loadingPopup" class="modal fade in">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="border: none;">
                <div class="modal-title auth-msg">{$this->Language['auth_your_carrier']}</div>
                <div><img src="{$this->siteurl}/images/payment_loading.gif" alt="{$this->Language['loading']}" title="{$this->Language['loading']}" style="padding:5px;"/></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var action = 'saveuser';
    var btn = 'Register';
</script>
{if $this->is_audio_enable == 1}
    {include file='../layouts/innerpagejs.html'}
{/if}
<script type="text/javascript" >
    $(document).ready(function () {
        registerPageLoad();
    });
</script>