<div class="col-sm-6 col-md-3 mb-4">
    <div class="product-box text-uppercase">
        <div class="text-center">
            <img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/t-shirt.png" class="product-img mx-auto">
        </div>
        <hr class="my-3 opacity-10">
        <h6 class="font-bold mb-2">Streamer product name</h6>
        <div class="d-flex align-items-center">
            <img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/icons/product-price.svg" class="product-price mr-2">
            <div class="price font-sm">150.00</div>
        </div>
        <hr class="my-3 opacity-10">
        <div class="d-flex flex-md-column flex-xl-row justify-content-between">
            <a href="#" class="d-block text-reset btn btn-basket mb-md-2 mb-xl-0">Add to basket</a>
            <a href="#" class="d-block text-reset btn btn-buy">Buy now</a>
        </div>
    </div>
</div>