<div id="main">
    {include file='../user/partner_banner.html'}
    <section class="content">
      <div id="cp_sections">
          {include file='../user/partner_menu.html'}
        
<!-- About -->
        <div class="parent_sec_87383 featured-sec-wrap">
          <div class="container">
            <h2 class="clearfix">
              <span class="caps ng-binding" style="display: inline-block; margin-top: 4px;">{$this->Language['about']}</span>
            </h2>
            <p style="margin-bottom:40px;"> {$profile->description|html_entity_decode} </p>
          </div>
        </div>
        <!-- Free Content -->
        {include file='../layouts/partner_featuredsections.html'}  
        
        
      </div>
    </section>
  </div>