<link rel="stylesheet" href="{$this->siteurl}/css/cropper.min.css" type="text/css" />
<link rel="stylesheet" href="{$this->siteurl}/css/crop-avatar.css" type="text/css" />
<script type="text/javascript" src="{$this->siteurl}/common/js/cropper.min.js"></script>
<script type="text/javascript" src="{$this->siteurl}/common/js/crop-avatar.js"></script>
{literal} <!--48366-->
<style>
    .countrycode{padding-right: 0px;}
     button#resend_otp[disabled] {background: #2cb7f6; }  
    .blue-color,#otp_sucess {color: #32c5d2;}
</style>
{/literal} <!--48366-->
<div id="crop-avatar">
    <div class="content">
        <div class="container">
            <div class="alert-msg in  fade alert-success profile-success position-relative" id="success_message"></div>
            <div class="alert-success-msg in  fade alert-success profile-success position-relative" id="password_changes_message"></div><!--18076: Update UX for Password change in Web- For all Template-->
            <h2 class="txt-camel">{$this->Language['account_info']}</h2>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-signin">
                        <form id="user-account-form" method="POST" action="javascript:void(0);">
                            <input type="hidden" name="csrfToken"  value="{$smarty.session.csrfToken}" />
                            <!--@22094-->
                            <!--<div class="loader loader_cart" id="loader"></div>--> 
                             <!--@22094-->

                            <div id="profile-errors" class="error center"></div>
                            <div id="profile-loading" class="loader loader_cart"></div> 
                             <!--48366-->
                            {if isset($this->store_configs->register_through) && $this->store_configs->register_through == 2}
                                <div class="form-group">
                                    <label class="control-label">{$this->Language['phone_number']}</label>
                                    <div class="controls">
                                        <div class="row">
                                        <div class="col-sm-2 countrycode">
                                            <select id="mobile_country_code" readonly disabled="disabled" class="form-control">
                                               <option value="">Select</option>
                                               {foreach from=$CountriesCode  item=code}
                                               <option value="{$code['phonecode']}" {if ($user->mobile_country_code==$code['phonecode'])}selected{/if}>+{$code['phonecode']}</option>
                                               {/foreach}
                                            </select>
                                        </div>
                                        {if isset($this->store_configs->register_through) && $this->store_configs->register_through == 2 && isset($this->store_configs->is_enablemobileotp) && $this->store_configs->is_enablemobileotp == 1}
                                        <div class="col-sm-10">
                                        <input readonly type="text" class="form-control c-square c-theme" value="{$user->mobile_number}" placeholder="{$this->Language['phone_number']}" name="mobile_number" id="mobile_number" />
                                        </div>
<!--                                        <div class="col-sm-4">
                                            <button id="send" class="btn btn-primary form-control" onclick="resetPasswordOtpToUser();">{$this->Language['send_otp']}</button>
                                            <button style="display:none" id="resend" class="btn btn-primary form-control" onclick="resetPasswordOtpToUser();">{$this->Language['resend_otp']}</button>
                                        </div>-->
                                        {else}
                                        <div class="col-sm-10 countrycode">
                                        <input readonly type="text" class="form-control c-square c-theme" value="{$user->mobile_number}" placeholder="{$this->Language['phone_number']}" name="mobile_number" id="mobile_number" />
                                    </div>
                                        {/if}
                                </div>
                                </div>
                                </div>
                            {/if}
<!--                            {if isset($this->store_configs->register_through) && $this->store_configs->register_through == 2 && isset($this->store_configs->is_enablemobileotp) && $this->store_configs->is_enablemobileotp == 1}
                                <div class="form-group">
                                    <label class="control-label">{$this->Language['otp']}</label>
                                    <div class="controls">
                                        <input type="text" name="otp" id="otp" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" placeholder="{$this->Language['text_otp']}" autocomplete="off" class="form-control" required/>
                                        <input type="hidden" name="enabled_otp" id="enabled_otp" value="1" />
                                    </div>
                                </div>
                            {/if}-->
                             <!--48366-->
                            {if (!$this->chkStudioForCustomProfile)}
                            <div class="form-group">
                                <label class="control-label">{$this->Language['text_name']}  :</label>
                                <div class="controls">
                                    <input required type="text" class="form-control c-square c-theme" value="{$user->display_name}" placeholder="{$this->Language['text_name_placeholder']}" name="name" id="name" />
                                </div>
                            </div>          
                            <div class="form-group">
                                <label class="control-label">{$this->Language['email']} :</label>
                                <div class="controls muvi_userprofile_field">
                                    <input readonly type="text" class="form-control c-square c-theme" value="{$user->email}" placeholder="{$this->Language['text_email_placeholder']}" name="email" id="email" />
                                </div>
                            </div> 
                            {if (count($custom_fields) > 0)}
                            {foreach from=$custom_fields item=fields}
                            <div class="form-group">
                                <label for="{$fields['label']}" class="control-label">{$fields['label']}</label>
                                <div class="controls">
                                    {$fields['field']}
                                </div>
                            </div>
                            {/foreach}
                            {/if}
                            {else}
                            {if (count($custom_fields) > 0)}
                            {foreach from=$custom_fields item=fields}
                            <div class="form-group">
                                <label  class="control-label">{$fields['label']}</label>
                                <div class="controls">
                                    {$fields['field']}
                                </div>
                            </div>
                            {/foreach}
                            {/if}
                            {/if}
                             <!--48366-->
                            {if (isset($this->store_configs->register_through) && $this->store_configs->register_through == 2 && $this->store_configs->is_allowemail > 0)}
                            <div class="form-group">
                                <label class="control-label">{$this->Language['email']} :</label>
                                <div class="controls">
                                    <input type="text" class="form-control c-square c-theme" value="{$user->email}" placeholder="{$this->Language['text_email_placeholder']}" name="email" id="email" />
                                    <input type="hidden" class="email" value="{$user->email}" name="existing_email">
                                </div>
                            </div> 
                            {/if} <!--48366-->
                            <!--37432 starts-->
                            {if $this->store_configs->contact_number_required == 1}
                            <div class="form-group">
                                    <label class="control-label">{$this->Language['phone_number']}</label>
                                    <div class="controls muvi_userprofile_field">
                                        <input type="text" class="form-control c-square c-theme" value="{$user->mobile_number}" placeholder="{$this->Language['phone_number']}" name="contact_number" id="contact_number" />
                                    </div>
                                </div>
                            {/if}
                            <!--37432 ends-->
                            {if isset($smarty.session.library) && $smarty.session.library.login == 1 && isset($this->store_configs->user_based_pricing) && $this->store_configs->user_based_pricing == 1}<!--43438-->
                            <div class="form-group">
                                <div class="controls">
                                    <a target="_blank" href="{$this->store_configs->user_based_pricing_reset_password_link}" class="btn btn-lg btn-primary">{$this->Language['reset_password']}</a>
                                </div>
                            </div>
                            {else}
                            <div class="form-group">
                                <div class="controls">
                                    <button id="update-btn" class="btn btn-lg btn-primary" type="submit">{$this->Language['btn_update_profile']}</button>
                                </div>
                            </div>
                             {/if}<!--42536-->
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-signin">
                        <h3>&nbsp;</h3>
                        <h3>&nbsp;</h3>
                        <div class="form-group">
                            <div class="controls text-center">
                                <img src="{$user_picture}" alt="" title="" class="thumbnail center profilepic" />
                                {if $have_profile_image}
                                <a class="link" href="#" data-target="#profilePicRemoveModal" data-toggle="modal"><i class="fa fa-times-circle"></i> {$this->Language['remove']}</a><br/>
                                {/if}
                                <a class="link" href="#" data-target="#avatar-modal" data-toggle="modal">{$this->Language['change_your_picture']}</a>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
            {if isset($smarty.session.library) && $smarty.session.library.login == 1 && isset($this->store_configs->user_based_pricing) && $this->store_configs->user_based_pricing == 1}<!--43438-->
            
            {else}
            {if (isset($this->store_configs->sso_with_miniorange_shopify_recharge) && $this->store_configs->sso_with_miniorange_shopify_recharge == 1)}
            {else}
            {if $user->idp_id != $this->thirdy_party_login_with['idp_id'] || $this->thirdy_party_login_with['name'] != 'WTVE'} <!-- #40996 -->
            <!--18076: Update UX for Password change in Web- For all Template-->
            <h2 class="txt-camel">{$this->Language['change_password']}</h2>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-signin">
                        <form id="change-password-form" method="POST" action="javascript:void(0);" class="position-relative">
                            <input type="hidden" name="csrfToken"  value="{$smarty.session.csrfToken}" />
                            <div id="password-errors" class="error center"></div>
                            <div id="reset-loading" class="loader loader_cart"></div> 
                            <input type="hidden" name="email" value="{$user->email}">
                            <div class="form-group">
                                <label class="control-label">{$this->Language['current_password']} :</label>
                                <div class="controls">
                                    <input type="password" class="form-control c-square c-theme" title="{$this->Language['fill_out_this_field']}" placeholder="{$this->Language['current_password']}" name="current_password" id="current_password" />
                                </div>
                            </div> 
                            <div class="form-group">
                                <label class="control-label">{$this->Language['new_password']} :</label>
                                <div class="controls">
                                    <input type="password" class="form-control c-square c-theme" title="{$this->Language['fill_out_this_field']}" placeholder="{$this->Language['new_password']}" name="new_password" id="new_password" />
                                </div>
                            </div> 
                            <div class="form-group">
                                <label class="control-label">{$this->Language['confirm_password']} :</label>
                                <div class="controls">
                                    <input type="password" class="form-control c-square c-theme" title="{$this->Language['fill_out_this_field']}" placeholder="{$this->Language['confirm_password']}" name="confirm_password" id="confirm_password" />
                                </div>
                            </div>    
                            <div class="form-group">
                                <div class="controls">
                                    <button id="password-btn" class="btn btn-lg btn-primary" type="submit">{$this->Language['change_password']}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {/if} <!-- #40996 -->
            {/if} <!-- #52108 -->
            {/if}<!--41595-->
            <div class="clear"></div>
            <!--18076: Update UX for Password change in Web- For all Template-->
            <!-- Cropping modal -->
        </div>            
    </div>
    <div class="modal fade" id="avatar-modal" tabindex="-1" role="dialog" aria-labelledby="avatar-modal-label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content"  style="height:500px;">
                <form class="avatar-form" method="post" action="{$this->base_url}/user/upload_image" enctype="multipart/form-data">
                    <input type="hidden" name="csrfToken"  value="{$smarty.session.csrfToken}" />
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" id="avatar-modal-label">{$this->Language['profile_change']}</h4>
                    </div>
                    <div class="modal-body">
                        <div class="avatar-body">

                            <!-- Upload image and data -->
                            <div class="avatar-upload">
                                <input class="avatar-src" name="avatar_src" type="hidden">
                                <input class="avatar-data" name="avatar_data" type="hidden">
                                <input class="" name="fileinfo" id="fileinfo" type="hidden">
                                <div style="float:left;font-weight:bold;font-size:16px;padding-right:20px;">{$this->Language['file_upload_profile']}</div>
                                <div style="float:left;">
                                    <input class="avatar-input" id="avatarInput" name="Filedata" type="file">
                                </div>
                            </div>

                            <!-- Crop and preview -->
                            <div class="avatar-wrapper"></div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn c-theme-btn c-btn-square c-btn-uppercase c-btn-bold avatar-save" type="submit">{$this->Language['btn_save']}</button>
                    </div>
                </form>
            </div>
        </div>
    </div><!-- /.modal -->
    <div class="modal fade" id="profilePicRemoveModal" role="dialog" data-backdrop="static" data-keyboard="false" style="overflow-y:hidden !important;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="font-size:22px;text-transform: none;" ><span id="headermodal">{$this->Language['remove_profile_picture']}</span></h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" autocomplete="false">
                        <input type="hidden" name="csrfToken" value="{$smarty.session.csrfToken}" /> <!--20294-->
                    <div class="form-group">
                        <div class="col-sm-12">
                            <span class="bodymodal">{$this->Language['sure_to_remove_proilepic']}</span>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="javascript:void(0)" id="remove_profile_pic" class="btn btn-default">{$this->Language['yes']}</a>
                        <button class="btn btn-primary" data-dismiss="modal" type="button" style="text-transform: capitalize;">{$this->Language['btn_cancel']}</button>
                    </div>
                    </form>    
                </div>
            </div>
        </div>
    </div>
</div>
<!--//44062-->
{if isset($smarty.session.library) && $smarty.session.library.login == 1 && isset($this->store_configs->user_based_pricing) && $this->store_configs->user_based_pricing == 1}<!--43438-->
<script type="text/javascript" >
 $(document).ready(function(){
      $('#vorname').val('{$user->last_name}');
});
</script>
{/if}
<!--//44062-->
 <!--48366-->
{if (isset($this->store_configs->register_through) && $this->store_configs->register_through == 2 )}
<script type="text/javascript" >
 $(document).ready(function(){
       $("#email_address").parent(".controls").parent(".form-group").remove();
});
</script>
{/if}
 <!--48366-->