<link rel="stylesheet" href="{$this->siteurl}{$Yii->theme->baseUrl}/css/register.css" type="text/css" /><!--48366-->
<div class="">
    <div class="container">
        <div class="col-md-6"><h2 class="txt-camel">{$this->Language['register']}</h2></div>
        {if ($is_partner_register==1)}
        <div class="col-md-6 text-right mt-4"><a href="{$this->base_url}/partners/register"><button id="register_membership" class="btn btn-primary">{$this->Language['be_a_partner']}</button></a></div>
        {/if}
        <div class="row">
            <div class="col-md-12">
            <h3>{$this->Language['create_account_now']}</h3> 
            <p>{$this->Language['cancel_ac_anytime']}</p>
            <p class="gray">{$this->Language['no_commit_no_extrafee']}</p>
            {if $this->studio->social_logins}
            {if isset($smarty.session.social) } 
            {assign var=socialAuth value=$smarty.session.social}
            {else}
            {assign var=socialAuth value=$this->getSocialUrls()}
            {/if}
            {/if}
            <!--18511:SAML 2.0 Integration in Muvi Platform -->
            {if ($socialAuth && $this->studio->social_logins) || $this->thirdy_party_login_with}
            <h3 class="txt-camel">{$this->Language['register_with_social_account']}</h3>
            <div class="form-group">
                        <ul class="new_social social_login">
        <!--    20451:Generic | Use High Quality image for Facebook and Google login at front end Register/ login screen Nibedita Kar Start-->
                     {if ($this->studio->social_logins & 1) && $socialAuth['fb_url'] }
                            <li class="social_login_new"> <a href="javascript:void(0);" data-url="{$socialAuth['fb_url']}" data-login="0" class="facebook_login _customfb _facebook"> <img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/fb_icon.png"><span>{$this->Language['continue_with_facebook']}</span></a></li>
                    {/if}
                     {if ($this->studio->social_logins & 2) && $socialAuth['gplus_url'] }
                            <li class="social_login_new"><a href="{$socialAuth['gplus_url']}" class="_customgplus _googleplus"> <img src="{$this->siteurl}{$Yii->theme->baseUrl}/images/google_icon.png"><span>{$this->Language['continue_with_google']}</span></a></li>
                            {/if}
<!--   20451:Generic | Use High Quality image for Facebook and Google login at front end Register/ login screen Nibedita Kar End-->
                            <!--18511:SAML 2.0 Integration in Muvi Platform -->
                            {if (count($this->thirdy_party_login_with) > 0)}
                            <li><a href="{$this->base_url}/user/login?sso" class="_custom _comcast"><img src="{$this->thirdy_party_login_with['img']}"><span>{$this->Language['sign_up_with_sso']} {$this->thirdy_party_login_with['name']}</span></a></li>
                            {/if}
                            <!--End-->
                </ul>

            </div>
            {/if}
           <div class="col-md-12" id="otp_sucess"></div><!--48366-->
            <h3 class="txt-camel">{$this->Language['account_detail']}</h3>
            <form id="membership_form" name="membership_form" method="POST" class="form-horizontal" action="javascript:void(0);">
               <input type="hidden" name="csrfToken"  value="{$smarty.session.csrfToken}" />
                <div id="errors" class="error center"></div>  
                <!-- #48268:Admin will be able to create end user types and manage their access rights-->
                <input type="hidden" id="chkCustomProfile" value="{$this->chkStudioForCustomProfile}">
                {if (count($user_group) > 1)}
                <div class="col-xs-12 col-sm-6">
                    <div class="row">
                        <div class="form-group">
                            <label for="name"class="col-sm-4 control-label">{$this->Language['choose_user_group']}</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="data[user_group_type]" title="" id="select_user_group" onchange="getCustomField()">
                                    {foreach from=$user_group item=user}
                                    <option value="{$user['user_group_type']}">{$user['group_name']}</option>

                                    {/foreach}
                                </select>
                            </div>                 
                        </div>
                    </div>
                </div>
                {/if}
                     <!--48366-->
                {if isset($this->store_configs->register_through) && $this->store_configs->register_through == 2}
                    {if (!$this->chkStudioForCustomProfile)}
                        <div class="form-group">
                            <label for="mobile_number"  class="col-sm-2 control-label">{$this->Language['mobile_number']}</label>
                            <div class="col-sm-4 col-xs-12">
                                <div class="col-sm-2 col-xs-3 countrycode">
                                      <select id="mobile_country_code" name="data[mobile_country_code]" onChange="validateshowResend()"  class="form-control selectcountrycode">
                                          <!--55664 - start-->
                                          {if (empty($favCountryFlag))}
                                        <option value="">Select</option>
                                          {/if}
                                        {foreach from=$CountriesCode  item=code}
                                          <option data-text="{$code['name']}(+{$code['phonecode']})" value="{$code['phonecode']}">{$code['name']}(+{$code['phonecode']})</option> <!--55664-->
                                        {/foreach}
                                          <!--55664 - end-->
                                     </select>
                                 </div>
                                 <div class="col-sm-10 col-xs-9 countrycode">
                                      <input type="text" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" name="data[mobile_number]" id="mobile_number"  class="form-control"  placeholder="{$this->Language['text_mobile_number']}" onchange="validateshowResend()"> 
                                 </div>
                            </div>                   
                        </div>
                    {else}
                        <div class="col-xs-12 col-sm-6">
                            <div class="row">
                                <div class="form-group">
                                    <label for="mobile_number" class="col-sm-4 control-label">{$this->Language['mobile_number']}</label>
                                    <div class="col-sm-8 col-xs-12">
                                        <div class="col-sm-2 col-xs-3 countrycode">
                                            <select id="mobile_country_code" name="data[mobile_country_code]" onChange="validateshowResend()"  class="form-control selectcountrycode">
                                                <!--55664 - start-->
                                                {if (empty($favCountryFlag))}
                                               <option value="">Select</option>
                                                {/if}
                                               {foreach from=$CountriesCode  item=code}
                                                <option data-text="{$code['name']}(+{$code['phonecode']})" value="{$code['phonecode']}">{$code['name']}(+{$code['phonecode']})</option> <!--55664-->
                                               {/foreach}
                                                <!--55664 - end-->
                                            </select>
                                        </div>
                                        {if (isset($this->store_configs->is_enablemobileotp) && $this->store_configs->is_enablemobileotp == 1)}
                                        <div class="col-sm-7 col-xs-9 countrycode">
                                            <input type="text" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" name="data[mobile_number]" id="mobile_number"  class="form-control"  placeholder="{$this->Language['text_mobile_number']}" onchange="validateshowResend()"> 
                                        </div>
                                        <div class="col-sm-3 col-xs-12 resend_otp_div countrycode">
                                            <button id="send_otp" disabled="disabled" class="btn btn-primary form-control" onclick="sendOtpToEndUser();">{$this->Language['send_otp']}</button>
                                        </div>
                                        {else}
                                        <div class="col-sm-10 col-xs-9 countrycode">
                                            <input type="text" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" name="data[mobile_number]" id="mobile_number"  class="form-control"  placeholder="{$this->Language['text_mobile_number']}" onchange="validateshowResend()"> 
                                        </div>
                                        {/if}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {/if}
                    {if isset($this->store_configs->register_through) && $this->store_configs->register_through == 2 && isset($this->store_configs->is_enablemobileotp) && $this->store_configs->is_enablemobileotp !== 1}
                    <input type="hidden" class="email" name="data[email]">
                {/if}
                {/if}
                {if isset($this->store_configs->register_through) && $this->store_configs->register_through == 1 && isset($this->store_configs->is_enablemailotp) && $this->store_configs->is_enablemailotp == 1}
                    {if (!$this->chkStudioForCustomProfile)}
                        <div class="form-group">
                            <label for="email" class="col-sm-2 control-label">{$this->Language['email']}</label>
                            <div class="col-sm-4">
                                <input type="email" class="form-control" autocomplete="off" placeholder="{$this->Language['email']}" onchange="validateshowResend()" id="email" required />
                            </div>                    
                        </div>
                    {else}
                        <div class="col-xs-12 col-sm-6">
                            <div class="row">
                                <div class="form-group">
                                    <label for="email" class="col-sm-4 control-label">{$this->Language['email']}</label>
                                    <div class="col-sm-5">
                                        <input type="email" class="form-control" autocomplete="off" placeholder="{$this->Language['email']}" onchange="validateshowResend()" id="email" required />
                                    </div>
                                    <div class="col-sm-3 resend_otp_div pull-right">
                                        <button id="send_otp" disabled="disabled" class="btn btn-primary form-control" onclick="sendOtpToEndUser();">{$this->Language['send_otp']}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {/if}
                {/if}
               {if (isset($this->store_configs->is_enablemobileotp) && $this->store_configs->is_enablemobileotp == 1) || (isset($this->store_configs->is_enablemailotp) && $this->store_configs->is_enablemailotp == 1)}
                    {if (!$this->chkStudioForCustomProfile)}
                        <div class="form-group">
                            <label for="otp" class="col-sm-2 control-label">{$this->Language['otp']}</label>
                            <div class="col-sm-4">
                                <input type="text" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" class="form-control" autocomplete="off" placeholder="{$this->Language['text_otp']}" id="otp" name="data[otp]" required/>
                                <input type="hidden" class="email" name="data[email]">
                                <input type="hidden" name="enabled_otp" id="enabled_otp" value="1" />
                            </div>                    
                        </div>
                    {else}
                        <div class="col-xs-12 col-sm-6">
                            <div class="row">
                                <div class="form-group">
                                    <label for="otp" class="col-sm-4 control-label">{$this->Language['otp']}</label>
                                    <div class="col-sm-8">
                                        <input type="text" onkeypress="if ( isNaN( String.fromCharCode(event.keyCode) )) return false;" class="form-control" autocomplete="off" placeholder="{$this->Language['text_otp']}" id="otp" name="data[otp]" required/>
                                        <input type="hidden" class="email" name="data[email]">
                                        <input type="hidden" name="enabled_otp" id="enabled_otp" value="1" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    {/if}
                {/if} 
                {if isset($this->store_configs->register_through) && $this->store_configs->register_through == 2 && $this->store_configs->is_allowemail > 0}
                    {if (!$this->chkStudioForCustomProfile)}
                        <div class="form-group">
                            <label for="allow_email" class="col-sm-2 control-label">{$this->Language['email']}</label>
                            <div class="col-sm-4">
                                {if ($this->store_configs->allow_add_email && $this->store_configs->allow_add_email == 2)}
                                <input type="email" class="form-control" autocomplete="off" placeholder="{$this->Language['email']}" id="email" onchange="validateshowResend()" required/>
                                {else}
                                <input type="email" class="form-control" autocomplete="off" placeholder="{$this->Language['email']}" id="email" onchange="validateshowResend()"/>
                                {/if}
                            </div>                    
                        </div>
                    {else}
                        <div class="col-xs-12 col-sm-6">
                            <div class="row">
                                <div class="form-group">
                                    <label for="allow_email" class="col-sm-4 control-label">{$this->Language['email']}</label>
                                    <div class="col-sm-8">
                                        {if ($this->store_configs->allow_add_email && $this->store_configs->allow_add_email == 2)}
                                        <input type="email" class="form-control" autocomplete="off" placeholder="{$this->Language['email']}" id="email" onchange="validateshowResend()" required/>
                                        {else}
                                        <input type="email" class="form-control" autocomplete="off" placeholder="{$this->Language['email']}" id="email" onchange="validateshowResend()"/>
                                        {/if}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {/if}
                {/if}  
                 <!--48366-->
                <div id="custom_field"> <!--End #48268 -->
                     
{if (!$this->chkStudioForCustomProfile)}
<div class="col-xs-12 col-sm-6">
    <div class="row">
                <div class="form-group">
            <label for="name" class="col-sm-4 control-label">{$this->Language['text_name']}</label>
            <div class="col-sm-8">
                        <input type="text" class="form-control" autocomplete="off" placeholder="{$this->Language['text_name']}" id="name" name="data[name]" required />
                    </div>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-6">
    <div class="row">
        <div class="form-group">
            <label for="email" class="col-sm-4 control-label">{$this->Language['email']}</label>
            <div class="col-sm-8">
                        <input type="email" class="form-control" autocomplete="off" placeholder="{$this->Language['email']}" id="email_address" name="data[email]" required />
                    </div>                    
                </div>   
    </div>
</div>
 <div class="loader" id="membership_loading" style="display:none;" ></div>
<div class="col-xs-12 col-sm-6">
    <div class="row">
        <div class="form-group">
            <label for="join_password" class="col-sm-4 control-label">{$this->Language['text_password_placeholder']}</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" autocomplete="off" placeholder="{$this->Language['text_password_placeholder']}" id="join_password" name="data[password]" required />
            </div>
        </div>
    </div>
</div>
<div class="col-xs-12 col-sm-6">
    <div class="row">
        <div class="form-group">
            <label for="confirm_password" class="col-sm-4 control-label">{$this->Language['confirm_password']}</label>
            <div class="col-sm-8">
                <input type="password" class="form-control" autocomplete="off" placeholder="{$this->Language['confirm_password']}" id="confirm_password" name="data[confirm_password]" required />
            </div>
        </div>
    </div>
</div>
{if (count($custom_fields) > 0)}
                    {$counter = 1}
                {foreach from=$custom_fields item=fields}
                   {if ($counter%2 == 0)}
                   <!--<div class="form-group">-->
                       {/if}
                       <div class="col-xs-12 col-sm-6"> <!--ER@ : 20433 start -->
                           <div class="row">
                   <div class="form-group">
                   <label for="{$fields['label']}" class="col-sm-4 control-label">{$fields['label']}</label>
                    <div class="col-sm-8">
                   {$fields['field']}
                    </div>
                                </div>
                           </div>
                       </div> <!--ER@ : 20433 end -->
                   {if ($counter%2 == 0)}
                   <!--</div>-->
                       {/if}
                 {$counter = $counter+1}   
                {/foreach}
                {/if}
				{else}

			  {if (count($custom_fields) > 0)}
                    {$counter = 1}
                {foreach from=$custom_fields item=fields}
                   {if ($counter%2 == 0)}
                   <!--<div class="form-group">-->
                       {/if}
                       <div class="col-xs-12 col-sm-6"> <!--ER@ : 20433 start -->
                           <div class="row">
                   <div class="form-group">
                   <label for="{$fields['label']}" class="col-sm-4 control-label">{$fields['label']}</label>
                    <div class="col-sm-8">
                   {$fields['field']}
                    </div>
                                </div>
                           </div>
                       </div> <!--ER@ : 20433 end -->
                   {if ($counter%2 == 0)}
                   <!--</div>-->
                       {/if}
                 {$counter = $counter+1}   
                {/foreach}
                {/if}
			
			{/if}
                </div> <!-- #48268 -->
                <!--37432 starts-->
                {if ($contact_number_required == 1)}
                    {if (!$this->chkStudioForCustomProfile)}
                    <div class="col-xs-12 col-sm-6">
                    <div class="row">
                        <div class="form-group">
                            <label for="contact_number" class="col-sm-2 control-label">{$this->Language['phone_number']}</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control c-square c-theme" autocomplete="off" placeholder="{$this->Language['phone_number']}" id="contact_number" name="data[contact_number]" required />
                            </div>                    
                        </div>
                    </div>
                    </div>
                    {else}
                        <div class="col-xs-12 col-sm-6">
                            <div class="row">
                                <div class="form-group">
                                    <label for="contact_number" class="col-sm-4 control-label">{$this->Language['phone_number']}</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control c-square c-theme" autocomplete="off" placeholder="{$this->Language['phone_number']}" id="contact_number" name="data[contact_number]" required />
                                    </div>
                                </div>
                            </div>
                        </div>
                    {/if}
                {/if}                        
                {if isset($this->store_configs->register_through) && $this->store_configs->register_through == 1 && isset($this->store_configs->allow_add_phone_no) && $this->store_configs->allow_add_phone_no > 0 && $this->store_configs->contact_number_required==0}
                    {if (!$this->chkStudioForCustomProfile)}
                        <div class="form-group">
                            <label for="allow_mobile" class="col-sm-2 control-label">{$this->Language['mobile_number']}</label>
                            <div class="col-sm-4">
                                <input type="text" id="contact_mobile_number" name="data[contact_mobile_number]" class="form-control" autocomplete="off" placeholder="{$this->Language['text_mobile_number']}" />
                            </div>                    
                        </div>
                    {else}
                        <div class="col-xs-12 col-sm-6">
                            <div class="row">
                                <div class="form-group">
                                    <label for="allow_mobile" class="col-sm-4 control-label">{$this->Language['mobile_number']}</label>
                                    <div class="col-sm-8">
                                        <input type="text" id="contact_mobile_number" name="data[contact_mobile_number]" class="form-control" autocomplete="off" placeholder="{$this->Language['text_mobile_number']}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    {/if}
                {/if}  
                <!--37432 ends--> 
<div class="clearfix"></div>
                <div class="form-group">
                    <div class="col-sm-4">
                        <div class="c-checkbox c-toggle-hide" data-object-selector="c-account" data-animation-speed="600">
                            <input type="checkbox" id="checkbox1-77" class="c-check">
                           {$this->Language['chk_over_18']} <a class="link linkcol" href="{$this->base_url}/page/terms-privacy-policy" target="_blank">{$this->Language['terms']}</a>
                                                  </div>
                    </div>
                    <label id="data[over_18]-error" class="error" for="data[over_18]" style="display: none;"></label>
                </div>            

                <div class="clear"></div><br>
                <div class="form-group ">
                    <div class="controls">
                        <div class="pull-left col-sm-2">
                            <button id="register_membership" class="btn btn-lg btn-primary" onclick="validateSignupStep1Form();">{$this->Language['btn_register']}</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>                   

                <span class="error" id="plan_error"></span>     
            </form> 
            </div>
        </div> 
    </div>
</div>

<script type="text/javascript">
    var action = 'saveuser';
    var btn = 'Register';
</script>
<script type="text/javascript" src="{$this->siteurl}/common/js/action.js"></script>
<script type="text/javascript" >
 $(document).ready(function(){
    removeEmailforMobile();
    if('{$this->custom_register_page_urlid}' !== ""){ /*40392*/
        $('#name_of_cinema').val('{$this->custom_register_page_urlid}');
        $('#name_of_cinema').attr('readonly', true);
    } /*40392*/
});
function removeEmailforMobile(){
     if('{$this->store_configs->is_enablemobileotp}' == 1 ||'{$this->store_configs->is_enablemailotp}' == 1 || '{$this->store_configs->register_through}'== 2){
        $("#email_address").parent(".col-sm-8").parent(".form-group").parent(".row").parent(".col-sm-6").remove();
    }
}
</script>