<div id="main">
    {include file='../user/user_banner.html'}
    <section class="content">
      <div id="cp_sections">
          {include file='../user/user_menu.html'}
        
<!-- About -->
        <div class="parent_sec_87383 featured-sec-wrap">
          <div class="container">
<!--            <h2 class="clearfix">
              <span class="caps ng-binding" style="display: inline-block; margin-top: 4px;">{$this->Language['about']}About</span>
            </h2>-->
            <p style="margin-bottom:40px;"> {$profile->about_us} </p>
          </div>
        </div>
        
      </div>
    </section>
  </div>