<div class="col-md-3 col-sm-6 muvi_c-margin-b-20">
                    <div class="muvi_c-content-product-2 muvi_c-bg-white muvi_list-box">
                        <div class="muvi_c-content-overlay">
                            <div class="muvi_c-overlay-wrapper">
                                <div class="muvi_c-overlay-content">
                                  <a class="btn c-btn btn-lg c-font-bold c-font-white c-theme-btn c-btn-square c-font-uppercase" href="{$data->playlist_permalink}">{$this->Language['explore']}</a>
                                </div>
                            
                            </div>
                            <div class="muvi_c-bg-img-top-center muvi_c-overlay-object text-center"><img class="muvi_list-poster" src="{$content_poster}" /></div>
                        </div>
                        <div class="muvi_c-info">
                            <p class="muvi_c-title muvi_c-font-18 muvi_c-font-slim">
                                <a href="{$this->base_url}/{$data->playlist_permalink}">{$data->playlist_name|html_entity_decode}</a>
                            </p>
                        </div>                     
                    </div>
                </div>