<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-12 col-lg-12">
            <div class="muvi_feature-banner">
                <div class="muvi_overlay-img">
                    <div class="muvi_left23">
                        <div class="row">
                            <div class="col-sm-10">
                                <h1 class="center white">{$category->title|utf8_decode}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="wrapper">
        {if $searchfilter['content_sort']!= 0 || ($searchfilter['content_filters']!= "")}
            <div class="row top20">

                <div class="col-md-12 text-right">
                    <div class="dropdown filter">
                        <button class="btn btn-primary" id="menu1" type="button"
                                data-toggle="dropdown">{$this->Language['filter']}
                            <span class="caret"></span></button>

                        {if $searchfilter['content_filters'] != "" &&  $searchfilter['content_sort'] != 0}
                            <div class="dropdown-menu muvi_filter_popup dropdown-menu-right" role="menu"
                                 aria-labelledby="menu1">
                                <form action="{$this->base_url}/{$category->permalink}" method="get"
                                      name="listingSearch" id="filterFormPopup" data-mcs-theme="dark">
                                    <input type="hidden" name="csrfToken" value="{$smarty.session.csrfToken}"/>
                                    <!--20294-->
                                    <div class="row">
                                        <div class="col-xs-7">
                                            {if $searchfilter['content_filters'] != ""}
                                                <div class="col-xs-7">
                                                    <label class="sort_by">{$this->Language['filter_by']}</label>
                                                    {if $searchfilter['content_filters'] & 1}
                                                        <div class="nav nav-pills">
                                                            <li class="dropdown">
                                                                <a class="muvi_dropfont"
                                                                   role="button">{$this->Language['filter_category']}</a>
                                                                <ul class="dropdown-menu" id="drop-menu" role="menu"
                                                                    aria-labelledby="drop1">
                                                                    {assign var=ctgcounter value=0}
                                                                    {foreach from=$con_cat key="conkey" item="conitem"}
                                                                        <div class="col-md-12">
                                                                            <li>
                                                                                <label class="c-title c-font-16 c-weight-300">
                                                                                    <input id="ischkd{$ctgcounter}"
                                                                                           type="checkbox"
                                                                                           data-id="{$conkey}"
                                                                                           value="{$conkey}"
                                                                                           onclick="getsearchlist(this)" {if in_array($conkey,$selected_catg)} checked="checked" {/if}> {$conitem|upper}
                                                                                </label></li>
                                                                        </div>
                                                                    {/foreach}
                                                                </ul>
                                                            </li>
                                                        </div>
                                                    {/if}
                                                    {if $searchfilter['content_filters'] & 2}
                                                        <div class="nav nav-pills">
                                                            <li class="dropdown">
                                                                <a class="muvi_dropfont"
                                                                   role="button">{$this->Language['filter_genre']}</a>
                                                                <ul class="dropdown-menu" id="drop-menu" role="menu"
                                                                    aria-labelledby="drop2">
                                                                    {assign var=gnrcounter value=0}
                                                                    {foreach from=$genres item=genre}
                                                                        <div class="col-md-12">
                                                                            <li>
                                                                                <label class="muvi_c-title muvi_c-font-16 muvi_c-weight-300">
                                                                                    <input id="ischkd{$gnrcounter}"
                                                                                           type="checkbox" class="genre"
                                                                                           data-id="{$genre}"
                                                                                           value="{$genre}"
                                                                                           onclick="getsortlist(this)" {if in_array($genre,$selected_genres)} checked="checked" {/if}> {$genre}
                                                                                </label></li>
                                                                        </div>
                                                                    {/foreach}
                                                                </ul>
                                                            </li>
                                                        </div>
                                                    {/if}
                                                </div>
                                            {/if}
                                        </div>
                                        {if $searchfilter['content_sort'] != 0}
                                            <div class="col-xs-5">
                                                <label for="email"
                                                       class="sort_by">{$this->Language['sort_by']}</label><br>
                                                <span class="sortby {if $smarty.get.orderby == 'lastupload'} sortby_active {/if} crusor"
                                                      onclick="sortby('lastupload');">{$this->Language['sort_last_uploaded']}</span>
                                                <br/>
                                                <span class="sortby {if $smarty.get.orderby == 'releasedate'} sortby_active {/if} crusor "
                                                      onclick="sortby('releasedate');">{$this->Language['sort_release_date']}</span>
                                                <br/>
                                                <span class="sortby {if $smarty.get.orderby == 'sortasc'} sortby_active {/if} crusor"
                                                      onclick="sortby('sortasc');">{$this->Language['sort_alpha_a_z']}</span>
                                                <br/>
                                                <span class="sortby {if $smarty.get.orderby == 'sortdesc'} sortby_active {/if} crusor"
                                                      onclick="sortby('sortdesc');">{$this->Language['sort_alpha_z_a']}</span>
                                            </div>
                                        {/if}
                                    </div>
                                </form>
                            </div>
                        {/if}
                        {if $searchfilter['content_filters'] != "" && $searchfilter['content_sort'] == 0}
                            <div class="dropdown-menu muvi_filter_popup dropdown-menu-right" role="menu"
                                 aria-labelledby="menu1" style="width: 20px; padding-left: 20px;">
                                <form action="{$this->base_url}/{$category->permalink}" method="get"
                                      name="listingSearch" id="filterFormPopup" data-mcs-theme="dark">
                                    <input type="hidden" name="csrfToken" value="{$smarty.session.csrfToken}"/>
                                    <!--20294-->
                                    <div class="row">
                                        {if $searchfilter['content_filters'] != ""}
                                            <div class="col-xs-7">
                                                <label class="text-black">{$this->Language['filter_by']}</label>
                                                {if $searchfilter['content_filters'] & 1}
                                                    <div class="nav nav-pills">
                                                        <li class="dropdown">
                                                            <a class="muvi_dropfont" role="button">Category</a>
                                                            <ul class="dropdown-menu" id="drop-menu" role="menu"
                                                                aria-labelledby="drop1">
                                                                {assign var=ctgcounter value=0}
                                                                {foreach from=$con_cat item=concat}
                                                                    <div class="col-md-12">
                                                                    <li>
                                                                        <label class="muvi_c-title muvi_c-font-16 muvi_c-weight-300">
                                                                            <input id="ischkd{$ctgcounter}"
                                                                                   type="checkbox" data-id="{$concat}"
                                                                                   value="{$concat}"
                                                                                   onclick="getsearchlist(this)" {if in_array($concat,$selected_catg)} checked="checked" {/if}> {$concat|upper}
                                                                        </label></li>
                                                                    </div>{/foreach}
                                                            </ul>
                                                        </li>
                                                    </div>
                                                {/if}
                                                {if $searchfilter['content_filters'] & 2}
                                                    <div class="nav nav-pills">
                                                        <li class="dropdown">
                                                            <a class="muvi_dropfont" role="button">Genre</a>
                                                            <ul class="dropdown-menu" id="drop-menu" role="menu"
                                                                aria-labelledby="drop2">
                                                                {assign var=gnrcounter value=0}
                                                                {foreach from=$genres item=genre}
                                                                    <div class="col-md-12">
                                                                        <li>
                                                                            <label class="muvi_c-title muvi_c-font-16 muvi_c-weight-300">
                                                                                <input id="ischkd{$gnrcounter}"
                                                                                       type="checkbox" class="genre"
                                                                                       data-id="{$genre}"
                                                                                       value="{$genre}"
                                                                                       onclick="getsortlist(this)" {if in_array($genre,$selected_genres)} checked="checked" {/if}> {$genre}
                                                                            </label></li>
                                                                    </div>
                                                                {/foreach}
                                                            </ul>
                                                        </li>
                                                    </div>
                                                {/if}
                                            </div>
                                        {/if}
                                    </div>
                                </form>
                            </div>
                        {/if}
                        {if $searchfilter['content_sort'] != 0 && $searchfilter['content_filters'] == ""}
                            <div class="dropdown-menu muvi_filter_popup dropdown-menu-right" role="menu"
                                 aria-labelledby="menu1" style="width: 20px; padding-left: 20px;">
                                <form action="{$this->base_url}/{$category->permalink}" method="get"
                                      name="listingSearch" id="filterFormPopup" data-mcs-theme="dark">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <label for="email" class="sort_by">{$this->Language['sort_by']}</label><br>
                                            <span class="sortby {if $smarty.get.orderby == 'lastupload'} sortby_active {/if} crusor"
                                                  onclick="sortby('lastupload');">{$this->Language['sort_last_uploaded']}</span>
                                            <br/>
                                            <span class="sortby {if $smarty.get.orderby == 'releasedate'} sortby_active {/if} crusor "
                                                  onclick="sortby('releasedate');">{$this->Language['sort_release_date']}</span>
                                            <br/>
                                            <span class="sortby {if $smarty.get.orderby == 'sortasc'} sortby_active {/if} crusor"
                                                  onclick="sortby('sortasc');">{$this->Language['sort_alpha_a_z']}</span>
                                            <br/>
                                            <span class="sortby {if $smarty.get.orderby == 'sortdesc'} sortby_active {/if} crusor"
                                                  onclick="sortby('sortdesc');">{$this->Language['sort_alpha_z_a']}</span>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        {/if}
                    </div>
                </div>
            </div>
        {/if}
        <div id="content_list"></div>
        <div class="row muvi_list_page">
            {if $item_count > 0}
                {include file='../layouts/listitem.html'}
            {/if}

            <div class="loader" id="loader"></div>
        </div>
        {if $item_count > 20}
            <div class="row">
                <div class="col-md-12">
                    <div class="product-pagination text-center">
                        <nav>
                            {$pagination}
                        </nav>
                    </div>
                </div>
            </div>
        {/if}
    </div>
</div>
{literal}
    <script type="text/javascript">
        //Upasana ER 27448
        function listLike(obj) {
            let _this = $(obj);
            let movie_id = $(obj).attr('data-movie_id');
            let is_like = $(obj).attr('data-is_like');
            let permalink = $(obj).attr('data-permalink');
            let like_status = (is_like == '1') ? 0 : 1;
            $.ajax({
                url: HTTP_ROOT + "/like/likes",
                type: 'POST',
                data: {content_id: movie_id, like_status: is_like},
                dataType: 'json',
                success: function (data, status, xhr) {
                    if (data.result == 'login') {
                        if ($("#loginModal").length > 0) {
                            $("#loginModal").modal('show');
                            $('#loader').hide();
                            $("#loginModal .modal-header h4").html('Please login to Like this Content');
                        }
                    } else {
                        $('#like_' + movie_id).html(data.get_likes);
                        _this.attr('data-is_like', like_status);
                        let color = (like_status == 1) ? '#32c5d2' : '#000000';
                        _this.children("span.fa-thumbs-up").css('color', color);
                    }

                },
                error: function (jqXhr, textStatus, errorMessage) {
                }
            });
        }
    </script>
{/literal}